<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<?php $random = rand(5, 1500); ?>
<?php 
	/* HTTP(s) */
	if (Mage::app()->getStore()->isCurrentlySecure()){
		$http = array('http:', 'https:');
	}else{
		$http = array('https:', 'http:');
	}
?>

<ul class="add-to-links">
	<?php if ($this->helper('wishlist')->isAllow()) : ?>
		<li>
			<a href="#" onclick="wishlistForm.submitAjaxWishlist(this, '<?php echo str_replace($http[0], $http[1], $_wishlistSubmitUrl); ?>','<?php echo $_product->getId()?>'); return false;" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><?php //echo $this->__('Add to Wishlist') ?><span class="add-to-loader" id='ajax_wishlist_loading<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt='' /></span></a>
		</li>
		<?php endif; ?>
	<?php
		$_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
	?>
	<?php if($_compareUrl) : ?>
		<li><a href="#" onclick="ajaxCompare('<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>','<?php echo $_product->getId()?>'); return false;" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><?php //echo $this->__('Add to Compare') ?><span class="add-to-loader" id='ajax_loading<?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt='' /></span></a></li>
	<?php endif; ?>
</ul>
<?php if ($this->canEmailToFriend()): ?>
	<p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('emailfiend'); ?><?php //echo $this->__('Email to a Friend') ?></a></p>
<?php endif; ?>
<script type="text/javascript">
var wishlistForm = new VarienForm('product_addtocart_form');
wishlistForm.submitAjaxWishlist = function(button, url,id){
    if(this.validator) {
        var nv = Validation.methods;
        delete Validation.methods['required-entry'];
        delete Validation.methods['validate-one-required'];
        delete Validation.methods['validate-one-required-by-name'];
        if (this.validator.validate()) {
        	url = url.replace("wishlist/index","ajax/whishlist");
        	var data = jQuery('#product_addtocart_form').serialize();
			data += '&isAjax=1';
			jQuery('#ajax_wishlist_loading'+id).show();
			jQuery.ajax( {
				url : url,
				dataType : 'json',
				type : 'post',
				data : data,
				success : function(data) {
					jQuery('#ajax_wishlist_loading'+id).hide();
					if(data.status == 'ERROR'){
						alert(data.message);
					}else{
						alert(data.message);
						if(jQuery('.block-wishlist').length){
                            jQuery('.block-wishlist').replaceWith(data.sidebar);
                        }else{
                            if(jQuery('.col-right').length){
                            	jQuery('.col-right').prepend(data.sidebar);
                            }
                        }
                        if(jQuery('.header .links').length){
                            jQuery('.header .links').replaceWith(data.toplink);
                        }
						/* Top Link Wishlist Quantity */
						getWishlistCount();
					}
				}
			});
        }
        Object.extend(Validation.methods, nv);
    }
}.bind(wishlistForm);
</script>