<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
	$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
	$fancybox = $meigee_bizarre_general['fancybox'];
    $categoryComplete = Mage::getModel('catalog/category')->load(Mage::getModel('catalog/layer')->getCurrentCategory()->getId());
	$random = rand(5,1500);
	
	$timerStatus = $meigee_bizarre_general['price_countdown']['status'];
	$timerListingStatus = $meigee_bizarre_general['price_countdown']['timer_listing_status'];
	$timerTitle = $meigee_bizarre_general['price_countdown']['timer_listing_title'];
	$timerTitleText = $meigee_bizarre_general['price_countdown']['timer_listing_title_text'];
	$timerFormat = $meigee_bizarre_general['price_countdown']['timer_listing_format'];
	$timerDisplay = $meigee_bizarre_general['price_countdown']['timer_listing_display'];
	
    if($categoryComplete->getMeigeeGridLayout()) {
		$grid = $categoryComplete->getMeigeeGridLayout();
	} else {
    	$grid = $meigee_bizarre_general['productlisting']['grid'];
    }
	
	switch($grid){
		case 2:
			$gridImg = 607;
		break;
		case 3:
			$gridImg = 396;
		break;
		case 4:
			$gridImg = 289;
		break;
		case 5:
			$gridImg = 226;
		break;
		case 6:
			$gridImg = 183;
		break;
		case 7:
			$gridImg = 152;
		break;
		case 8:
			$gridImg = 131;
		break;
	}
	
    $helpImg = $this->helper('ThemeOptionsBizarre/images');
	if($categoryComplete->getQuickview()) {
		$quickview = $categoryComplete->getQuickview();
		if($quickview == 2){$quickview = 0;}
	} else {
    	$quickview = $meigee_bizarre_general['productlisting']['quickview'];
    }
	if($categoryComplete->getProductname()) {
		$productname = $categoryComplete->getProductname();
		if($productname == 2){$productname = 0;}
	} else {
    	$productname = $meigee_bizarre_general['productlisting']['productname'];
    }
	if($categoryComplete->getProductprice()) {
		$productprice = $categoryComplete->getProductprice();
		if($productprice == 2){$productprice = 0;}
	} else {
    	$productprice = $meigee_bizarre_general['productlisting']['productprice'];
    }
	if($categoryComplete->getAddtocart()) {
		$addtocart = $categoryComplete->getAddtocart();
		if($addtocart == 2){$addtocart = 0;}
	} else {
		$addtocart = $meigee_bizarre_general['productlisting']['addtocart'];
    }
	if($categoryComplete->getCompareproducts()) {
		$compareproducts = $categoryComplete->getCompareproducts();
		if($compareproducts == 2){$compareproducts = 0;}
	} else {
		$compareproducts = $meigee_bizarre_general['productlisting']['compareproducts'];
	}
	if($categoryComplete->getWishlist()) {
		$wishlist = $categoryComplete->getWishlist();
		if($wishlist == 2){$wishlist = 0;}
	} else {
		$wishlist = $meigee_bizarre_general['productlisting']['wishlist'];
    }
	
	$labelsoptions = $meigee_bizarre_general['productlabels'];
	$labelsType = $meigee_bizarre_general['productlabels']['labelview'];
	$labelsPosition = $meigee_bizarre_general['productlabels']['labelsposition'];
	$productOnlyXleft = $meigee_bizarre_general['productlabels']['labelonlyxleft'];
	if($categoryComplete->getMoreviews()) {
		$moreviews = $categoryComplete->getMoreviews();
		if($moreviews == 2){$moreviews = 0;}
	} else {
    	$moreviews = $meigee_bizarre_general['productlisting']['moreviews'];
    }
	
	/* HTTP(s) */
	if (Mage::app()->getStore()->isCurrentlySecure()){
		$http = array('http:', 'https:');
	}else{
		$http = array('https:', 'http:');
	}
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
	<?php echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list<?php echo ' '.$labelsType.' '.$labelsPosition; ?>" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
		<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?><?php if($labelsoptions['labelsorder'] == 'new_sale'):?> labels-new-sale<?php endif; ?>">
            <?php // Product Image ?>
            <div class="grid_3 alpha">
                <div class="product-img-box">
					<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'new'); ?>
					<?php if($productOnlyXleft and MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product)): ?>
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product); ?>
					<?php else: ?>
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'sale'); ?>
					<?php endif; ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
						<img id="product-collection-image-<?php echo $_product->getId(); ?>"  <?php echo $helpImg->getImgSources($_product, 'small_image', $gridImg, null, null, 'with-mobile'); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
						<?php /* Hover Image */ echo $helpImg->getHoverImage($_product, 'small_image', $gridImg, null, null, 'with-mobile'); ?>
					</a>
					<?php if($_product->isSaleable()): ?>
						<?php if($moreviews && count($_product->getMediaGalleryImages()) > 1): ?>
							<div class="ajax-media-button-holder">
								<a href='<?php echo $this->getUrl('meigeeactions/moreviews/index',array('product'=>$_product->getId()));?>' class='ajax-media'><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('moreviews'); ?><?php echo $this->__('More views') ?></span></a>
							</div>
						<?php endif; ?>
					<?php else: ?>
						<div class="out-of-stock-label"><?php echo $this->__('Out of stock') ?></div>
					<?php endif; ?>
					<?php
						// Provides extra blocks on which to hang some features for products in the list
						// Features providing UI elements targeting this block will display directly below the product name
						$isSwatch = false;
						if($this->getChild('name.after')){
							$swatchOutput = array();
							$_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
							foreach ($_nameAfterChildren as $_nameAfterChildName) {
								$_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
								$_nameAfterChild->setProduct($_product);
								$swatchOutput[] = $_nameAfterChild->toHtml();
								if($_nameAfterChild->toHtml()){
									$isSwatch = true;
								}
							}
						}
					?>
					<?php if(($moreviews && count($_product->getMediaGalleryImages()) > 1) or $isSwatch): ?>
					<div class="ajax-media-overlay"><div class="loader"></div></div>
					<?php endif; ?>
                    <?php // Fancybox 
                    if ($fancybox['fancybox_status'] && $fancybox['fancybox_listing'] == 1): ?>
                        <a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('fancybox'); ?></a>
                    <?php endif; // End Fancybox ?>
                </div>
            </div>
            <?php // Product description ?>
            <div class="omega right-col">
				<div class="product-shop">
					<?php if($productname): ?>
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
					<?php endif; ?>
					<?php
						/* Swatches */
						if($this->getChild('name.after')){
							foreach ($swatchOutput as $item) {
								echo $item;
							}
						}
					?>
					<?php 
						if($timerStatus && $timerListingStatus) {
							$specialprice = $_product->getSpecialPrice(); 
							$specialPriceFromDate = $_product->getSpecialFromDate();
							$specialPriceToDate = $_product->getSpecialToDate();
							$today =  time();
							if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
								if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
						?>
									<div class="timer-<?php echo $_product->getId(); ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>" data-productid="<?php echo $_product->getId(); ?>" data-enddate="<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>" data-startdate="<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>">
										<?php if($timerTitle): ?>
											<div class="title"><?php echo $timerTitleText; ?></div> 
										<?php endif; ?>
										<?php if ($timerFormat == 0) { ?>
											<div class="days"><span>00</span></div>
											<div class="hours"><span>00</span></div>
											<div class="minutes"><span>00</span></div>
											<div class="seconds"><span>00</span></div>
										<?php } elseif ($timerFormat == 1) { ?>
											<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
											<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
											<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
											<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
										<?php } ?>
									</div>
						<?php 
								endif;
							endif;
						}
					?>
					<?php if($_product->getRatingSummary()): ?>
						<?php echo $this->getReviewsSummaryHtml($_product) ?>
					<?php endif; ?>
					<?php if(!$_product->isSaleable()): ?>
						<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					<?php endif; ?>
					<?php if($productprice): ?>
						<?php echo $this->getPriceHtml($_product, true) ?>
					<?php endif; ?>
					<div class="desc std">
						<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
					</div>
					<?php if($_product->isSaleable()): ?>
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) and $addtocart): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo str_replace($http[0], $http[1], $this->getAddToCartUrl($_product)); ?>','<?php echo $_product->getId().$random;?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<span id='ajax_loader<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt='' /></span>
								</div>
							<?php elseif($addtocart): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="showOptions('<?php echo $_product->getId().$random; ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								</div>
							<?php endif; ?>
						<?php }elseif($addtocart){ ?>
							 <div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></div>
						<?php } ?>
					<?php endif; ?>
					<?php if(Mage::getStoreConfig('ajax/general/enabledpro')and $quickview){ ?>
						<button type="button" title="<?php echo $this->__('Quick View') ?>" class="button btn-quick-view" onclick="showOptions('<?php echo $_product->getId().$random; ?>')"><span><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('quickview'); ?><?php echo $this->__('Quick View') ?></span></span></button>
					<?php } ?>
					<?php if((Mage::getStoreConfig('ajax/general/enabledpro') and $quickview) or (($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) and $addtocart)){ ?>
					<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox' id='fancybox<?php echo $_product->getId().$random; ?>' style='display:none'>&nbsp;</a>
					<?php } ?>
					<?php if(Mage::getStoreConfig('ajax/wishlistcompare/enabledpro')){?>
						 <ul class="add-to-links">
							<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
								<li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo str_replace($http[0], $http[1], $this->helper('wishlist')->getAddUrl($_product)); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><span id='ajax_wishlist_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
							<?php endif; ?>
							<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><span id='ajax_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
							<?php endif; ?>
						</ul>
					<?php }else{?>
						<ul class="add-to-links">
							<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
								<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?></a></li>
							<?php endif; ?>
							<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
								<li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?></a></li>
							<?php endif; ?>
						</ul>
					<?php } ?>
				</div>
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">
		decorateList('products-list', 'none-recursive')
		jQuery(document).ready(function(){
			geListColumn();
		});
	</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>

	<ul class="products-grid <?php echo 'grid-'.$grid.'-columns'; echo ' '.$labelsType.' '.$labelsPosition; ?>">
    <?php $i=1; foreach ($_productCollection as $_product): ?>
		<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
            <li class="item<?php if($labelsoptions['labelsorder'] == 'new_sale'):?> labels-new-sale<?php endif; ?>">
				<div class="product-container">
					<div class="product-img-box">
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'new'); ?>
						<?php if($productOnlyXleft and MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product)): ?>
							<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product); ?>
						<?php else: ?>
							<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'sale'); ?>
						<?php endif; ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
							<img id="product-collection-image-<?php echo $_product->getId(); ?>" <?php echo $helpImg->getImgSources($_product, 'small_image', $gridImg, null, null, 'with-mobile'); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							<?php /* Hover Image */ echo $helpImg->getHoverImage($_product, 'small_image', $gridImg, null, null, 'with-mobile'); ?>
						</a>
						<?php if($_product->isSaleable()): ?>
							<?php if($moreviews && count($_product->getMediaGalleryImages()) > 1): ?>
							<div class="ajax-media-button-holder">
								<a href='<?php echo $this->getUrl('meigeeactions/moreviews/index',array('product'=>$_product->getId()));?>' class='ajax-media'><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('moreviews'); ?><?php echo $this->__('More views') ?></span></a>
							</div>
							<?php endif; ?>
						<?php else: ?>
							<div class="out-of-stock-label"><?php echo $this->__('Out of stock') ?></div>
						<?php endif; ?>
						<?php
							// Provides extra blocks on which to hang some features for products in the list
							// Features providing UI elements targeting this block will display directly below the product name
							$isSwatch = false;
							if($this->getChild('name.after')){
								$swatchOutput = array();
								$_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
								foreach ($_nameAfterChildren as $_nameAfterChildName) {
									$_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
									$_nameAfterChild->setProduct($_product);
									$swatchOutput[] = $_nameAfterChild->toHtml();
									if($_nameAfterChild->toHtml()){
										$isSwatch = true;
									}
								}
							}
						?>
						<?php if(($moreviews && count($_product->getMediaGalleryImages()) > 1) or $isSwatch): ?>
						<div class="ajax-media-overlay"><div class="loader"></div></div>
						<?php endif; ?>
						<?php  // Fancybox
						if ($fancybox['fancybox_status'] && $fancybox['fancybox_listing'] == 1): ?>
								<a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('fancybox'); ?></a>
							<?php endif;
						// End Fancybox ?>
					</div>
					<div class="product-info">
						<?php if($productname): ?>
							<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
						<?php endif; ?>
						<?php
							/* Swatches */
							if($this->getChild('name.after')){
								foreach ($swatchOutput as $item) {
									echo $item;
								}
							}
						?>
						<?php if($_product->getRatingSummary()): ?>
							<?php echo $this->getReviewsSummaryHtml($_product) ?>
						<?php endif; ?>
						<?php if($productprice): ?>
							<?php echo $this->getPriceHtml($_product, true) ?>
						<?php endif; ?>
					</div>
					<?php if($_product->isSaleable()): ?>
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) and $addtocart): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo str_replace($http[0], $http[1], $this->getAddToCartUrl($_product)); ?>','<?php echo $_product->getId().$random; ?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button>
									<span id='ajax_loader<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt='' /></span>
								</div>
							<?php elseif($addtocart): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="showOptions('<?php echo $_product->getId().$random; ?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button>
								</div>
							<?php endif; ?>
						<?php }elseif($addtocart){ ?>
							<div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button></div>
						<?php } ?>
					<?php endif; ?>
					<div class="clear"></div>
					<div class="product-buttons">
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro') and $quickview){ ?>
							<button type="button" title="<?php echo $this->__('Quick View') ?>" class="button btn-quick-view" onclick="showOptions('<?php echo $_product->getId().$random; ?>')"><span><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('quickview'); ?><?php echo $this->__('Quick View') ?></span></span></button>
						<?php } ?>
						<?php if((Mage::getStoreConfig('ajax/general/enabledpro') and $quickview) or (($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) and $addtocart)){ ?>
						<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId()))); ?>' class='ajax-fancybox' id='fancybox<?php echo $_product->getId().$random; ?>' style='display:none'>&nbsp;</a>
						<?php } ?>
						<?php if(Mage::getStoreConfig('ajax/wishlistcompare/enabledpro')){?>
							 <ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo str_replace($http[0], $http[1], $this->helper('wishlist')->getAddUrl($_product)); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><span id='ajax_wishlist_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
										<li><a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><span id='ajax_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
								<?php endif; ?>
							</ul>
						<?php }else{?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?></a></li>
								<?php endif; ?>
							</ul>
						<?php } ?>
						<?php 
							if($timerStatus && $timerListingStatus) {
								$specialprice = $_product->getSpecialPrice(); 
								$specialPriceFromDate = $_product->getSpecialFromDate();
								$specialPriceToDate = $_product->getSpecialToDate();
								$today =  time();
								if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
									if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
							?>
										<div class="clear"></div>
										<div class="timer-<?php echo $_product->getId(); ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>" data-productid="<?php echo $_product->getId(); ?>" data-enddate="<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>" data-startdate="<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>">
											<?php if($timerTitle): ?>
												<div class="title"><?php echo $timerTitleText; ?></div> 
											<?php endif; ?>
											<?php if ($timerFormat == 0) { ?>
												<div class="days"><span>00</span></div>
												<div class="hours"><span>00</span></div>
												<div class="minutes"><span>00</span></div>
												<div class="seconds"><span>00</span></div>
											<?php } elseif ($timerFormat == 1) { ?>
												<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
												<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
												<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
												<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
											<?php } ?>
										</div>
										<div class="clear"></div>
							<?php 
									endif;
								endif;
							}
						?>
					</div>
				</div>
            </li>
            <?php $i++; endforeach ?>
    </ul>
    <script type="text/javascript">
		decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])
		isotopLoader();
	</script>
    <?php endif; ?>
	<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
	<script type="text/javascript">
		/* list column */
		function geListColumn(callback){
			mainContainer = jQuery('.main-container');
			rightCol = jQuery('.products-list .right-col');
			
			if(jQuery('.col-main').hasClass('grid_12')){
				rightCol.addClass('grid_9');
			}else if(mainContainer.hasClass('col3-layout')){
				rightCol.addClass('grid_3');
			}else{
				rightCol.addClass('grid_6');
			}
			
			try{
				callback();
			}catch(err){}
			labelsHeight();
		}
		
		jQuery(document).ready(function(){
			jQuery('.ajax-fancybox').fancybox(
				{
				   hideOnContentClick : true,
				   width:600,
				   autoDimensions: true,
				   type : 'iframe',
				   showTitle: false,
				   scrolling: 'no',
				   afterLoad: function(){
						setTimeout(function(){
							var frameBodyHeight = jQuery('.fancybox-iframe').contents().find('body').addClass('iframe-body').height();
							if(jQuery(window).height() > frameBodyHeight+30){
								jQuery('.fancybox-inner').css('height', frameBodyHeight);
							}
						}, 1000);
					}
				}
			);
			
			/* button loader */
			jQuery('.products-grid li.item .btn-cart').on('click', function(){
				jQuery(this).parent().addClass('active');
			});
			
			jQuery('.lockshow-bg').remove();
			<?php if($moreviews): ?>
				/* ajax more views */
				ajaxMoreViews();
			<?php endif; ?>
			
			/* run timer on product listing */
			listingTimer();
		});
		
		function showOptions(id){
			jQuery('#fancybox'+id).trigger('click');
		}
		function setAjaxData(data,iframe){
			if(data.status == 'ERROR'){
				alert(data.message);
			}else{
				if(jQuery('.top-cart')){
					jQuery('.top-cart').replaceWith(data.sidebar);
				}
				jQuery.fancybox.close();
				jQuery('body').append('<div class="add-to-cart-success">' + data.message +' <br /><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><span><?php echo $this->__('Go to Shopping Cart') ?></span></a><a href="#" class="btn-remove"><i class="fa fa-times"></i></a></div>');
				setTimeout(function () {jQuery('.add-to-cart-success').slideUp(500)}, 5000);
				jQuery('.add-to-cart-success a.btn-remove').click(function(){
					jQuery(this).parent().slideUp(500);
					return false;
				});
			}
		}
		function setLocationAjax(url,id){
			url += 'isAjax/1';
			url = url.replace("checkout/cart","ajax/index");
			jQuery('#ajax_loader'+id).show();
			try {
				jQuery.ajax( {
					url : url,
					dataType : 'json',
					success : function(data) {
						jQuery('#ajax_loader'+id).hide();
						jQuery('.products-grid li.item').removeClass('active');
						setAjaxData(data,false);
					}
				});
			} catch (e) {
			}
		}
		labelsHeight();
    </script>
    <?php }else{ ?>
	<script type="text/javascript">
		jQuery('.lockshow-bg').remove();
	</script>
	<?php } ?>
    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
	<?php if(Mage::getStoreConfig('infinitescroll/general/enabled')): ?>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				try{
					StrategeryInfiniteScroll.init();
				}catch(err){}
				jQuery('.toolbar-bottom').addClass('no-border');
			});
		</script>
	<?php endif; ?>
</div>
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')){
    $_afterChildren = $this->getChild('after')->getSortedChildren();
    foreach ($_afterChildren as $_afterChildName){
        $_afterChild = $this->getChild('after')->getChild($_afterChildName);
        //set product collection on after blocks
        $_afterChild->setProductCollection($_productCollection);
        echo $_afterChild->toHtml();
    }
}
?>