<?php
/** @var $this Lanot_Attachments_Block_Abstract */
if ($this->hasItems()):
    $helper = Mage::helper('lanot_attachments/file');
    $config = Mage::helper('lanot_attachments/config');
    $type = $this->getEntityType();
    ?>
    <?php foreach ($this->getCollection() as $item): ?>
        <li class="la-icon <?php if ($config->canShowIcons()): ?>la-icon-<?php echo $item->getType(); ?> la-icon-<?php echo str_replace('.', '_', $helper->getFileExtension($item)); ?><?php endif; ?>">
            <a href="<?php echo $item->getAttachmentUrl(); ?>" <?php if ($config->canShowNewWindow()): ?>target="_blank"<?php endif; ?> <?php echo ($item->getType() == 'url') ? 'class="fancybox"' : ''; ?>>
                <?php echo $item->getTitle(); ?>
            </a>
        </li>
    <?php endforeach; ?>

<?php endif; ?>