<script type="text/javascript">
	var data = "";
	var active = false;
	jQuery(window).load(function() {
		if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
			jQuery('body').append('<div id="resultLoading" style="display:none"><div><p><img src="<?php if (Mage::app()->getStore()->isCurrentlySecure()){echo str_replace('http:', 'https:', $this->loadingImage);}else{echo $this->loadingImage;} ?>"></p><div><?php echo $this->loadingText ?></div></div><div class="bg"></div></div>');
		}
		var height = jQuery('body').outerHeight();
		var width = jQuery('body').outerWidth();
		jQuery('.ui-slider-handle').css('cursor','pointer');
		
		jQuery('#resultLoading').css({
			'width':width,
			'height':height+'px',
			'position':'absolute',
			'z-index':'10000000',
			'top':'0',
			'left':'0'
		});	
		jQuery('#resultLoading .bg').css({
			'background':'<?php echo $this->overlayColor; ?>',
			'opacity':'<?php echo $this->overlayOpacity ?>',
			'width':'100%',
			'height':'100%',
			'position':'absolute',
			'top':'0'
		});
		
		
		function loadInd(){
			loadIndent = jQuery(window).height()/2+'px';
			jQuery('#resultLoading>div:first').css('margin-top', loadIndent);
		}
		loadInd();
		jQuery(window).resize(function(){loadInd();});
		
		jQuery('#resultLoading>div:first').css({
			'width': '100%',
			'text-align': 'center',
			'position': 'absolute',
			'left': '0',
			'font-size':'16px',
			'z-index':'10',
			'color':'<?php echo $this->loadingTextColor ?>'
			
		});
		
		<?php if($this->ajaxLayered): ?>
			jQuery(".block-layered-nav").on("click", "a", function (event){
				event.preventDefault();
				var url = jQuery(this).attr("href");
				sliderAjax(url);
			});
		<?php endif; ?>
		
		
		<?php if($this->ajaxToolbar): ?>
		eval(function(p,a,c,k,e,d){while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+c.toString(a)+'\\b','g'),k[c])}}return p}('$(\'.1 a\').3(\'9\',5(e){6 0=$(8).c(\'b\');7(0);e.2()});$(\'.1 4\').d(\'g\');$(\'.1 4\').3(\'f\',5(){6 0=$(8).h();7(0);e.2()})',18,18,'url|toolbar|preventDefault|live|select|function|var|sliderAjax|this|click||href|attr|removeAttr||change|onchange|val'.split('|')))
		<?php endif; ?>
		
		
	});

<?php if($this->ajaxSlider || $this->ajaxLayered): ?>
/*DONOT EDIT THIS CODE*/
function sliderAjax(url) {
    if (!active) {
        active = true;
        jQuery(function($) {
            oldUrl = url;
            $('#resultLoading .bg').height('100%');
            $('#resultLoading').fadeIn(300);
            try {
                $('body').css('cursor', 'wait');
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function(data) {
						callback();
                        if (data.viewpanel) {
                            if ($('.block-layered-nav')) {
                                $('.block-layered-nav').after('<div class="ajax-replace" />').remove();
                                $('.ajax-replace').after(data.viewpanel).remove();
                            }
                        }
                        if (data.productlist) {
							$('.category-products').after('<div class="ajax-category-replace" />').remove();
                            $('.ajax-category-replace').after(data.productlist).remove();
							
							/* Swatch */
							$(data.productlist).filter('script').each(function(){
								if(($(this).html().indexOf("ConfigurableMediaImages") != -1) && ($(this).html().match(new RegExp("ConfigurableMediaImages",'g')).length > 2)){
									eval($(this).html());
									ProductMediaManager.init();
									return false;
								}
							});
							imageController(true);
                        }
                        var hist = url.split('?');
                        if(window.history && window.history.pushState){
							window.history.pushState('GET', data.title, url);
						}
                        $('body').find('.toolbar select').removeAttr('onchange');
                        $('#resultLoading .bg').height('100%');
                        $('#resultLoading').fadeOut(300);
                        $('body').css('cursor', 'default');
						ajaxtoolbar.onReady();
						try{
							ConfigurableSwatchesList.init();
						}catch(err){}
                    }
                })
            } catch (e) {}
        });
        active = false
    }
    return false
}
<?php endif; ?> 

function callback(){
	<?php echo $this->getCallbackJs(); ?>
}
</script>