<?php
	$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
	$meigee_bizarre_skin_design = $meigee_bizarre_general['design']['skin_design'];
	$meigee_bizarre_design = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_design'.$meigee_bizarre_skin_design.'');
	$appearance = $meigee_bizarre_design['appearance'];
?>
<!DOCTYPE html>
<html>
	<head>
		<title>Map</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'meigee/jquery.min.js' ?>"></script>
		<link media="all" href="<?php echo $this->getSkinUrl('css/styles.css') ?>" type="text/css" rel="stylesheet">
		<link media="all" href="<?php echo $this->getSkinUrl('css/skin.css') ?>" type="text/css" rel="stylesheet">
		<link media="all" href="<?php echo $this->getSkinUrl('css/custom.css') ?>" type="text/css" rel="stylesheet">
		<?php
			/* Font Replacement */
			if ($appearance['font_main'] == 1): 
				echo '<link href="//fonts.googleapis.com/css?family=' . str_replace(' ', '+', $appearance['gfontmain']) . ':100,200,300,400,500,600,700,800" rel="stylesheet" type="text/css">';
			endif;
			if(!(($appearance['font_main'] == 1) and ($appearance['gfontmain'] == $appearance['gfont']))):
				if ($appearance['font'] == 1):
					echo '<link href="//fonts.googleapis.com/css?family=' . str_replace(' ', '+', $appearance['gfont']) . ':100,200,300,400,500,600,700,800" rel="stylesheet" type="text/css">';
				endif;
			endif;
		?>
	</head>
	<body>
		<?php
			$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
			$contactMapLat = $meigee_bizarre_general['contactmap']['latitude'];
			$contactMapLong = $meigee_bizarre_general['contactmap']['longitude'];
			$contactMapZoom = $meigee_bizarre_general['contactmap']['mapzoom'];
			$contactMapType = $meigee_bizarre_general['contactmap']['maptype'];
			$contactMapMarker = $meigee_bizarre_general['contactmap']['marker'];
			$contactMarkerTitle = $meigee_bizarre_general['contactmap']['markertitle'];
			$contactBlock = $meigee_bizarre_general['contactmap']['block'];
			$contactBlockStatic = $meigee_bizarre_general['contactmap']['blockstatic'];
			$contactBlockWidth = $meigee_bizarre_general['contactmap']['blockwidth'];
			$contactBlockHeight = $meigee_bizarre_general['contactmap']['blockheight'];
			$contactBlockPosition = $meigee_bizarre_general['contactmap']['blockposition'];
			$random = rand(5, 1500);
		?>
		
		<div class="map-container">
			<?php if($contactBlock): ?>
			<div class="map-block<?php echo ' '.$contactBlockPosition; ?>" style="width:<?php echo $contactBlockWidth; ?>px; height:<?php echo $contactBlockHeight; ?>px;">
				<div class="indent">
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($contactBlockStatic)->toHtml() ?>
				</div>
			</div>
			<?php endif; ?>
			<div id="map_canvas_<?php echo $random; ?>" class="map-wrapper"></div>
		</div>

		<script type="text/javascript">
			function initialize_<?php echo $random; ?>(){
				myLatlng = new google.maps.LatLng(<?php echo $contactMapLat;?>, <?php echo $contactMapLong;?>);
				map_canvas = document.getElementById('map_canvas_<?php echo $random; ?>');
				map_options = {
				  center: myLatlng,
				  zoom: <?php echo $contactMapZoom;?>,
				  mapTypeId: google.maps.MapTypeId.<?php echo $contactMapType;?>
				}
				map_<?php echo $random; ?> = new google.maps.Map(map_canvas, map_options)
				
				<?php if($contactMapMarker): ?>
				marker = new google.maps.Marker({
					position: myLatlng,
					map: map_<?php echo $random; ?>,
					title: '<?php echo $contactMarkerTitle; ?>'
				});
				<?php endif; ?>
			}
			google.maps.event.addDomListener(window, 'load', initialize_<?php echo $random; ?>);
			
			
			parentBody = window.parent.document.getElementsByTagName('body');
			sizeMarker = 0;
			currentSize = jQuery(parentBody).width();
			if(currentSize < 480){currentSize = 1;}
			if(currentSize > 479 && currentSize < 768){currentSize = 2;}
			if(currentSize > 767 && currentSize < 977){currentSize = 3;}
			if(currentSize > 1279){currentSize = 4;}

			jQuery(window).resize(function(){
				if (jQuery(parentBody).width() < 480) {
					sizeMarker = 1;
				}
				if (jQuery(parentBody).width() > 479 && jQuery(parentBody).width() < 768) {
					sizeMarker = 2;
				}
				if (jQuery(parentBody).width() > 767 && jQuery(parentBody).width() < 977){
					sizeMarker = 3;
				}
				if (jQuery(parentBody).width() > 1279){
					sizeMarker = 4;
				}
				if(currentSize != sizeMarker){
					initialize_<?php echo $random; ?>();
					currentSize = sizeMarker;
				}
			});
		</script>
	</body>
</html>