<?php 
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$meigee_bizarre_productpage = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_productpage');

if ($_product->getBizarrePrbrandpos() == 0) {
        $man_pos = $meigee_bizarre_productpage['brand']['brandpos'];
}
else {
    switch ($_product->getBizarrePrbrandpos()) {
        case 2:
            $man_pos = 'sidebar';
            break;
        case 3:
            $man_pos = 'center';
            break;
        default:
            $man_pos = 'center';
            break;
    }
}

if ($man_pos == 'center') {
	if ($_product->getBizarrePrbrand() == 0) {
		$pr_brand = $meigee_bizarre_productpage['brand']['productbrand'];
	}
	else {
		switch ($_product->getBizarrePrbrand()) {
	        case 1:
	            $pr_brand = 1;
	            break;
	        case 2:
	            $pr_brand = 0;
	            break;
	        default:
	            $pr_brand = 1;
	            break;
	    }
	}

	if ($_product->getBizarrePrbrandlink() == 0) {
		$pr_brandsearch = $meigee_bizarre_productpage['brand']['brandsearch'];
	}
	else {
		switch ($_product->getBizarrePrbrandlink()) {
	        case 1:
	            $pr_brandsearch = 1;
	            break;
	        case 2:
	            $pr_brandsearch = 0;
	            break;
	        default:
	            $pr_brandsearch = 1;
	            break;
	    }
	}

	if ($_product->getBizarrePrbrandtarget() == 0) {
		$pr_brandtarget = $meigee_bizarre_productpage['brand']['brandtarget'];
	}
	else {
		switch ($_product->getBizarrePrbrandtarget()) {
	        case 1:
	            $pr_brandtarget = 1;
	            break;
	        case 2:
	            $pr_brandtarget = 0;
	            break;
	        default:
	            $pr_brandtarget = 1;
	            break;
	    }
	}

if ($pr_brand == 1 && $_product->getAttributeText('manufacturer')): ?>
	<div class="product-brand<?php echo $_product->getData('manufacturer_info') ? ' description' : false ?>">
	<?php if ($pr_brandsearch): ?>
	<a class="brand-img" <?php echo ($pr_brandtarget ? 'target="_blank"' : false); ?> href="<?php echo Mage::getBaseUrl() . 'catalogsearch/advanced/result/?name=&manufacturer=' . $_product->getData('manufacturer'); ?>">
	<?php endif; ?>
	<img alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'brands/' . $_product->getAttributeText('manufacturer') . $meigee_bizarre_productpage['brand']['brandformat']; ?>" data-srcX2="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'brands/' . $_product->getAttributeText('manufacturer') . '@x2' . $meigee_bizarre_productpage['brand']['brandformat']; ?>">
	<?php if ($pr_brandsearch): ?>
	</a>
	<?php echo $_product->getData('manufacturer_info'); ?>
	<?php endif; ?>
	</div>
<?php endif; } ?>