<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php 

$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
$expires = $meigee_bizarre_general['popup']['cookielifetime'];
$popupWidth = $meigee_bizarre_general['popup']['popupwidth'];
$popupHeight = $meigee_bizarre_general['popup']['popupheight'];
$popupStatic = $meigee_bizarre_general['popup']['popup_static'];
$popupTime = $meigee_bizarre_general['popup']['popup_time'];
if ($meigee_bizarre_general['popup']['popup_status'] == 1) {
	$popupCookie = Mage::getModel('core/cookie')->get("bizarrePopup");
	if(!$popupCookie): ?>
		<section class="popup-block" id="popup-block" style="width:<?php echo $popupWidth; ?>px; height:<?php echo $popupHeight; ?>px;">
			<h2 class="section-title"><?php echo $this->__('Popup Block'); ?></h2>
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($popupStatic)->toHtml() ?>
			<div class="clear"></div>
			<label class="popup-bottom"><input type="checkbox"><?php echo $this->__('Don’t show this popup again'); ?></label>
			<div class="clear"></div>
		</section>
		<script type="text/javascript">
			/* Newsletter init */
			function popupNewsletter(){
				setTimeout(function(){
					jQuery.fancybox({
						padding: '0px',
						autoScale: true,
						transitionIn: 'fade',
						transitionOut: 'fade',
						showCloseButton: false,
						type: 'inline',
						href: '#popup-block'
					});
					jQuery('#popup-block').trigger('click');
				}, <?php echo $popupTime * 1000; ?>);
			}
			
			isSuccess = jQuery('ul.messages li.success-msg').length;
			subscribeFlag = jQuery.cookie('bizarrePopupFlag');
			
			function subsSetcookie(){
				jQuery.cookie('bizarrePopup', 'true', {
					expires: <?php echo $expires; ?>,
					path: '/'
				});
			}
			
			if(!(subscribeFlag && isSuccess)){
				popupNewsletter();
			}else{
				jQuery.removeCookie('bizarrePopupFlag', { path: '/' });
				subsSetcookie();
			}
			
			jQuery('#popup-block').parents('.fancybox-wrap').addClass('subscribe-fancy').next('.fancybox-overlay').addClass('subscribe-fancy');
			
			jQuery('#popup-block .popup-bottom input').on('click', function(){
				if(jQuery(this).parent().find('input:checked').length){
					subsSetcookie();
				} else {
					jQuery.removeCookie('bizarrePopup', { path: '/' });
				}
			});
			
			setTimeout(function(){
				jQuery('.fancybox-close').on('click', function(){
					jQuery.cookie('bizarrePopup', 'true');
				});
			}, 1000);

			if(jQuery('#popup-block .popup-content-wrapper').data('bgcolor')){
				jQuery('#popup-block .popup-content-wrapper').addClass('no-bgimg');
				var bgColor = jQuery('#popup-block .popup-content-wrapper').data('bgcolor');
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgColor);
			}
			
			if(jQuery('#popup-block .popup-content-wrapper').data('bgimg')){
				var bgImg = jQuery('#popup-block .popup-content-wrapper').data('bgimg');
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgImg);
			}
			
			if((jQuery('#popup-block .popup-content-wrapper').data('bgimg')) && (jQuery('#popup-block .popup-content-wrapper').data('bgcolor'))) {
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgImg + bgColor);
			} 
			if (jQuery('body').hasClass('retina-ready')) {
				if (pixelRatio > 1) {
					if(jQuery('#popup-block .popup-content-wrapper').data('srcx2')) {
						jQuery('#popup-block .popup-content-wrapper').removeClass('no-bgimg');
						var retinaBg = jQuery('#popup-block .popup-content-wrapper').data('srcx2');
						jQuery('#popup-block .popup-content-wrapper').attr('style', retinaBg);
					}
					if((jQuery('#popup-block .popup-content-wrapper').data('srcx2')) && (jQuery('#popup-block .popup-content-wrapper').data('bgcolor'))) {
						jQuery('#popup-block .popup-content-wrapper').addClass('no-bgimg');
						jQuery('#popup-block .popup-content-wrapper').attr('style', retinaBg + bgColor);
					} 
				}
			}
		</script> 
<?php
	endif;
}