.postWrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
    margin-bottom: 4.5em;
    clear: both;
}
.postWrapper.last{
	margin-bottom: 3em;
}
.postWrapper .category-title .right-divider{
	margin-top: 1.5em;
}
.category-title.post-comments .right-divider{margin-top: 0.9em;}
.category-title.post-comments{margin-bottom: 0.75em;}
.category-title.post-comments h2{
	font-size: 1.16em;
	text-transform: uppercase;
}
.postWrapper a{
    color: #888;
    text-decoration: none;
}
.postWrapper a:hover{
    text-decoration: none;
}

.postTitle {
    border:none;
    margin: 0 0 7px 0;
    padding: 0;
}

.postTitle h3 {
    color: #888;
    font-size: 2.5em;
    font-weight: bold;
}

.postTitle h2 a {
    color: #444;
}

.post-date {
    float: right;
    color: #888;
    font-size: 1.09em;
    margin: 0 0 7px 0;
}

.postContent {
    padding-top: 0.75em;
    padding-bottom: 20px;
}
.postContent p {
    padding-bottom: 1.5em;
	margin-bottom: 0;
}

a.aw-blog-read-more{
	font-size: 12px;
	font-style: normal;
	background-color: #eee;
	color: #222;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 23px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	position: relative;
	overflow: hidden;
	background-color: #ddd;
	font-weight: normal;
	text-transform: uppercase;
	border: solid 0px;
}
a.aw-blog-read-more:hover{color:#fff;}
.postDetails {
    float: left;
    color: #888;
}

.postBookmarks {
    padding: 1.66em 0;
	border-top: 1px solid #EEEEEE;
}
.blog-post-view .postBookmarks{padding-bottom: 0;}

.postBookmarks h4 {
	color:#444;
    font-size: 12px;
    font-weight: bold;
	float: left;
	padding-right: 12px;
}
.blog-post-view .toolbar { display: none; }

.form-wrapper {
    width: 70%;
}
.form-wrapper .input-box{
    padding-bottom: 8px;
	width: auto;
}
.form-wrapper .button-set{
	width: 100%!important; 
	overflow: hidden;
	padding-top: 1.5em;
	border-top: 1px solid #eee;
}
.form-wrapper .button-set button.button{float: left;}
.form-wrapper .button-set p.required{float: right;}

.form-wrapper .input-box label{font-size: 0.91em;}
.form-wrapper .input-box input,
.form-wrapper .input-box textarea{
	color: #AAAAAA;
	font-size: 0.91em;
	padding: 5px 11px;
	width: 96% !important;
}
.commentWrapper {
    padding: 15px;
}
.commentWrapper.even {
    background: #eee;
    padding: 15px;
    margin-bottom: 15px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    color: #888;
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    color: #888;
}

.postError {
    font-size: 16px;
}

.tags {
	padding: 0.83em;
	clear: both;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: .75em 0;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
	font-weight: bold;
	color: #666;
	font-size: 1em;
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: -1px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 1.75em;
}

.block-blog .menu-tags ul li {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}
.block-blog li{
	line-height: 1.5em;
	padding: 0;
	position: relative;
	border-top: 1px dotted #ccc;
}
.block-blog li:first-child{
	border-top: none;
}
.block-blog li a {
	font-size: 1em;
	color: #666;
	line-height: 1.5em;
	font-family: Arial;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0;
	display: inline-block;
	padding: 1em 0;
}
.block-blog li:first-child {border-top: none;}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest ul {list-style: none; margin: 0;}
.widget-latest li {
    color: #888;
    font-size: 1em;
    padding: 0 0 1.5em;
	position: relative;
}
.widget-latest li:first-child{
	border-top: none;
	margin-left: 0;
	clear: left;
}
.widget-latest li:nth-child(4n+4){
	margin-right: 0;
}
.widget-latest li h3{margin-bottom: 1.09em;}
.widget-latest li h3 a{
	color:#222;
	padding:0;
	font-size: 1.09em;
	font-weight: normal;
}

.widget-latest li .info-box{
	border-bottom: 1px solid #ddd;
	padding:1em 0;
	margin-bottom: 1.16em;
}
.widget-latest li .post-date,
.widget-latest li .comments{
	float: left;
	margin: 0;
	color:#aaa;
	font-size: 0.91em;
}
.widget-latest li .comments a{color:#aaa;}
.widget-latest li .post-date{
	border-right: 1px solid #e4dcd9;
	padding-right: 20px;
	margin-right: 20px;
}
.widget-latest li .post-date i,
.widget-latest li .comments i{
	margin-top: 2px;
	margin-right: 10px;
	font-size: 1.25em;
}
.widget-latest li .comments i{margin-top: 1px; margin-right: 8px;}
.widget-latest li .postContent{
	padding:0 0 4px;
	border-bottom: 1px solid #ddd;
}
.widget-latest li .postContent p{
	margin: 0;
	padding:0 0 0.75em;
	font-size: 0.91em;
}

.widget-latest li .postContent .truncated{
	height: 4.54em;
	overflow: hidden;
	position: relative;
}

.widget-latest li button{margin-right: 20px;}
.widget-latest li .user{
	display: inline-block;
	color:#aaa;
	font-size: 0.91em;
	padding-top: 0.81em;
}
.widget-latest li .user i{
	font-size: 1.3em;
	line-height: 1.2em;
	margin-right: 9px;
}
A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}

.blog-toolbar .pager {display: block; float: left;}
.blog-toolbar .pager .pages {padding: 0;}
.blog-toolbar .pager .amount {display: none;}
.blog-toolbar .sorter {float: right; padding: .5em 0;}
.widget-latest ul {margin-left: -10px; margin-right: -10px;}
.widget-latest li.item {float: left; padding-left: 10px; padding-right: 10px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.widget-latest .two-items li {width: 50%;}
.widget-latest .three-items li {width: 33.33%;}
.widget-latest .four-items li {width: 25%;}
.widget-latest .five-items li {width: 20%;}
.widget-latest .six-items li {width: 16.66%;}
.widget-latest .two-items li:nth-of-type(2n+1),
.widget-latest .three-items li:nth-of-type(3n+1),
.widget-latest .four-items li:nth-of-type(4n+1),
.widget-latest .five-items li:nth-of-type(5n+1),
.widget-latest .six-items li:nth-of-type(6n+1) {clear: left;}
.widget-latest .two-items li:nth-of-type(2n+2),
.widget-latest .three-items li:nth-of-type(3n+3),
.widget-latest .four-items li:nth-of-type(4n+4),
.widget-latest .five-items li:nth-of-type(5n+5),
.widget-latest .six-items li:nth-of-type(6n+6) {clear: right;} 

@media only screen and (min-width: 768px) and (max-width: 977px) {
	.blog-toolbar .pager .pages {margin-top: 0; margin-bottom: .75em;}
	.blog-toolbar .sorter {float: left;}
}
@media only screen and (max-width: 767px) {
	.blog-toolbar .sorter {float: left; width: 100%;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.blog-toolbar .sorter {float: right; width: 60%;}
}

.blog-toolbar .toolbar:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }