<?php echo $this->getChildHtml("jsconfig");?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('lotusbreath/onestepcheckout/js/override_mage.js') ?>"></script>

<?php
$isAllowComment = Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowcomment');
$isNewsletter = Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowsubscribe');
if ($isNewsletter){
    if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $subscriber = Mage::getModel('newsletter/subscriber')->loadByEmail(
            Mage::getSingleton('customer/session')->getCustomer()->getEmail());
        if($subscriber && $subscriber->getId())
        {
            $isNewsletter = false;
        }

    }
}
$discountpos = Mage::getStoreConfig('lotusbreath_onestepcheckout/layout/discountpos');
$commentpos = Mage::getStoreConfig('lotusbreath_onestepcheckout/layout/commentpos');

?>
<script id="loader-template" type="text/x-handlebars-template">
    <div class="osc-loader" id="osc-loader">
        <div class="osc-loader-background"></div>
        <div class="loading-mask" data-role="loader">
            <div class="loader">
                <img alt="{{imgAlt}}" src="{{icon}}">
                <p>{{loaderText}}</p>
            </div>
        </div>
    </div>
</script>
<script>
    var loaderJson = {
        imgAlt: '<?php echo $this->__("Please wait...");?>',
        icon: '<?php echo $this->getSkinUrl('lotusbreath/onestepcheckout/images/ajax-loader.gif');?>',
        loaderText: '<?php echo $this->__("Please wait...");?>'
    };
</script>
<div class="lt-checkoutpage" id="checkoutSteps">
    <?php echo $this->getChildHtml("loginform");?>

    <form id="checkout_form" name="checkout_form">
        <div class="grid">
            <?php if ($pageTitle = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/pagetitle')):?>
                <h2 class="page-title"><?php echo $pageTitle;?></h2>
            <?php endif;?>
            <?php if ($pageDescription = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/pagedescription')):?>
                <p class="page-description"><?php echo $pageDescription;?></p>
            <?php endif;?>
            <?php if (!Mage::helper('customer')->isLoggedIn()) : ?>
              <br />
                <br />
              <p>
                Prisijungimas registruotiems pirkėjams čiaa:
                <a class="login_link" href="javascript:void(0);" id="loginFrmDlgO">
                    <div id="login-btn">
                      <?php echo $this->__("PRISIJUNGTI");?>
                    </div>
                </a>
              </p>
              <br />
              <br />
            <?php endif; ?>
            <hr />
            <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/content/display_bottom_static_block')): ?>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('onestepcheckout_top_block')->toHtml(); ?>
            <?php endif;?>
            <div class="row no-padding padding-mobile">
                <div class="four columns">
                    <h3 class="ptitle">
                        <?php if ($billingHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/billing_header')):?>
                            <?php echo $billingHeader;?>
                        <?php else:?>
                            1. <?php echo $this->__("Billing Information"); ?>

                        <?php endif;?>

                    </h3>
                    <?php echo $this->getChildHtml('billing'); ?>
                    <div id="shipping-area" style="display: none;">
                        <h3 class="ptitle">
                            <?php if ($shippingHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/shipping_address_header')):?>
                                <?php echo $shippingHeader;?>
                            <?php else:?>
                                <?php echo $this->__("Shipping Information");?>

                            <?php endif;?>

                        </h3>
                        <?php
                        echo $this->getChildHtml('shipping'); ?>
                    </div>
                </div>
                <div class="four columns">
                    <div class="row">
                        <?php if(!$this->getQuote()->isVirtual()):?>
                        <h3 class="ptitle">
                            <?php if ($shippingMethodHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/shipping_method_header')):?>
                                <?php echo $shippingMethodHeader;?>
                            <?php else:?>
                                2. <?php echo $this->__("Shipping Method"); ?>
                            <?php endif;?>
                        </h3>
                        <div id="shipping_partial">
                            <?php echo $this->getChildHtml('shipping_method'); ?>
                        </div>
                        <?php endif; ?>
                        <h3 class="ptitle">
                            <?php if ($paymentMethodHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/payment_method_header')):?>
                                <?php echo $paymentMethodHeader;?>
                            <?php else:?>
                                3. <?php echo $this->__("Payment Method");?>
                            <?php endif;?>

                        </h3>
                        <div id="payment_partial">
                            <?php echo $this->getChildHtml('payment'); ?>
                        </div>

                    </div>

                    <div class="row">
                        <?php if( Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowshowgiftmessage') ):?>
                            <div id="gift_patial">
                            <?php if (!$this->getQuote()->isVirtual()): ?>
                                <?php echo $this->helper('giftmessage/message')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
                            <?php endif; ?>
                            </div>
                        <?php endif;?>

                        <?php if( $discountpos == 'below_payment' && Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowshowcoupon') ):?>
                            <div id="coupon_patial">
                                <h3 class="ptitle"><?php echo $this->__("Discount Codes");?></h3>

                                <?php echo $this->getChildHtml('coupon'); ?>
                            </div>
                        <?php endif;?>

                        <?php if( $isAllowComment && $commentpos == 'below_payment' ):?>
                            <div id="comment-patial">
                                <h3 class="ptitle"><?php echo $this->__("Comment");?> <div class="tip">
                                  <a href="#"
                                  title="
                                  Jūsų patogumui teikiame nemokama prekės surinkimo paslaugą (ši paslauga nėra teikiama jei prekė siunčiamą per DPD kurjerį). Nurodykite tai komentaro laukelyje. Jeigu užsakote daugiau kaip 1 prekę, patikslinkite kurią surinkti. Komentaro laukelyje galite įrašyti ir kitas Jums aktualias pastabas."
                                  class="tooltip">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                  </a>
                                </div></h3>

                                <ul class="form-list">
                                    <li class="fields">
                                        <div class="input-box">
                                            <textarea name="order_comment" placeholder="<?php echo $this->__("Type comment here");?>" class="input-text"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        <?php endif;?>

                    </div>
                </div>
                <div class="four columns" >

                    <?php if (false) :?>
                    <h3 class="ptitle">
                       <?php echo $this->__("Additional Information"); ?>
                    </h3>
                    <?php endif;?>

                    <h3 class="ptitle">
                        <?php if ($reviewOrderHeader = Mage::getStoreConfig('lotusbreath_onestepcheckout/content/review_header')):?>
                            <?php echo $reviewOrderHeader;?>
                        <?php else:?>
                            4. <?php echo $this->__("Review Order"); ?>
                        <?php endif;?>

                    </h3>
                    <div id="review_partial">
                        <?php echo $this->getData("reviewHtml"); ?>
                        <?php echo $this->getChildHtml('review'); ?>
                    </div>
                    <?php if( $discountpos == 'below_review' && Mage::getStoreConfig('lotusbreath_onestepcheckout/general/allowshowcoupon') ):?>
                        <div id="coupon_patial">
                            <h3 class="ptitle" ><?php echo $this->__("Discount Codes");?></h3>

                            <?php echo $this->getChildHtml('coupon'); ?>
                        </div>
                    <?php endif;?>

                    <?php if( $isAllowComment && $commentpos == 'below_review' ):?>
                        <div id="comment-patial">
                            <h3 class="ptitle"><?php echo $this->__("Comment");?>asdasd</h3>
                            <ul class="form-list">
                                <li class="fields">
                                    <div class="input-box">
                                        <textarea name="order_comment" placeholder="<?php echo $this->__("Type comment here");?>" class="input-text">asasd</textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <?php endif;?>
                    <!--
                    <?php if ($isNewsletter):?>
                        <p class="newsletter">
                            <input type="checkbox" id="newsletter-signup" name="newsletter" value="1"
                                   title="<?php //echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>"
                                   class="checkbox"
                                <?php
                                //echo Mage::getStoreConfig('lotusbreath_onestepcheckout/general/autochecksubscriber') ? 'checked="checked"' : '';
                                ?>
                                />
                            <label for="newsletter-signup">
                                <?php //echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>
                            </label>
                        </p>
                    <?php endif;?>
                    -->

                    <button role='review-save' type="submit"
                            title="<?php echo Mage::helper('checkout')->__('Place Order') ?>" name="submitbtn"
                            id="lbonepage-place-order-btn" class="button btn-checkout">
                        <span><span><?php echo Mage::helper('checkout')->__('Place Order') ?></span></span>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <?php if (Mage::getStoreConfig('lotusbreath_onestepcheckout/content/display_bottom_static_block')): ?>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('onestepcheckout_bottom_block')->toHtml(); ?>
            <?php endif;?>
        </div>
    </form>
    <p>Jūsų patogumui teikiame nemokama prekės surinkimo paslaugą (ši paslauga nėra teikiama jei prekė siunčiamą per DPD kurjerį).
       Nurodykite tai komentaro laukelyje. Jeigu užsakote daugiau kaip 1 prekę, patikslinkite kurią surinkti. Komentaro laukelyje galite
       įrašyti ir kitas Jums aktualias pastabas.
    </p>
</div>
<script type="text/javascript">
    //<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
            progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
            review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
            saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
            failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
    //]]>
</script>
