<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<?php
	$rememberMe = Mage::getStoreConfig('persistent/options/enabled');
?>
<div class="account-login">
	<div class="close-button"><i class="fa fa-times"></i></div>
	<div class="page-title">
		<h1><?php echo $this->__('Login') ?></h1>
		<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="forgot-pass"><?php echo $this->__('Forgot Your Password?') ?></a>
    </div>
	<?php if(Mage::getStoreConfig('customer/captcha/enable')): ?>
	<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS).'mage/captcha.js'; ?>"></script>
	<?php endif; ?>
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
		<?php echo $this->getBlockHtml('formkey'); ?>
		<p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
		<ul class="form-list">
			<li>
				<div class="input-box">
					<?php 
						if($this->escapeHtml($this->getUsername())){
							$value = $this->escapeHtml($this->getUsername());
						}else{
							$value = $this->__('Email Address');
						}
					?>
					<input type="text" name="login[username]" value="<?php echo $value; ?>" onblur="if (this.value=='') this.value = '<?php echo $value; ?>'" onfocus="if (this.value=='<?php echo $value; ?>') this.value = ''" id="email" class="input-text required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" />
				</div>
			</li>
			<li>
				<div class="input-box">
					<input type="password" name="login[password]" value="<?php echo $this->__('Password') ?>" onblur="if (this.value=='') this.value = '<?php echo $this->__('Password') ?>'" onfocus="if (this.value=='<?php echo $this->__('Password') ?>') this.value = ''" class="input-text required-entry validate-password" id="pass" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" />
				</div>
			</li>
			<?php echo $this->getChildHtml('form.additional.info'); ?>
			<?php echo $this->getChildHtml('persistent.remember.me'); ?>
		</ul>
		<?php if($rememberMe): ?>
		<?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
		<script type="text/javascript">
			if($$('body > #window-overlay').length || $$('body > #remember-me-popup').length){
				$$('body > #window-overlay')[0].remove();
				$$('body > #remember-me-popup')[0].remove();
			}
			new Insertion.Bottom($$('body')[0], $('window-overlay'));
			new Insertion.Bottom($$('body')[0], $('remember-me-popup'));

			$$('.remember-me-popup-close').each(function(element){
				Event.observe(element, 'click', toggleRememberMepopup);
			})
			$$('#remember-me-box a').each(function(element){
				Event.observe(element, 'click', toggleRememberMepopup);
			});
		</script>
		<?php endif; ?>
		<p class="required"><?php echo $this->__('* Required Fields') ?></p>
		<div class="clear"></div>
		<div class="actions">
			<div class="link-box"><a href="#"><?php echo $this->__('Register') ?></a></div>
			<button type="submit" class="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Login')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
			<div class="clear"></div>
		</div>
	</form>
    <script type="text/javascript">
		//<![CDATA[
			var dataForm = new VarienForm('login-form', false);
		//]]>
		jQuery('.account-login .link-box a').on('click', function(){
			<?php if (Mage::app()->getStore()->isCurrentlySecure()): ?>
			ajaxLogin("<?php echo $this->getUrl('meigeeactions/register/', array('_secure'=>true)) ?>", true);
			<?php else : ?>
			ajaxLogin("<?php echo $this->getUrl('meigeeactions/register/', array('_secure'=>false)) ?>", true);
			<?php endif; ?>
			return false;
		});
    </script>
</div>