{* This is a comment block

Available vars in this template:
  - name            Gavėjo vardas
  - email           Gavėjo el. paštas
  - product_name    Produkto pavadinimas
  - product_url     Produkto Url
  - product_image   Produkto Url mažas paveikslėlis (75 px)
  - message         Siuntėjo pranešimas
  - sender_name     Siuntėjo vardas
  - sender_email    Siuntėjo el.paštas

Use vars: {{var var_name}}
*}<!--@subject Sveiki, {{var name}} @-->
Sveiki {{htmlescape var=$name}}<br /><br /> Žiūrėkite<a href="{{var product_url}}">{{var product_name}}</a><br /><br />Pranešimas: <br />{{var message}}<br /><br />