<?php
/**
 * All For Coding
 *
 * @category    design
 * @package     default_default
 * @copyright   Copyright (c) 2012 All For Coding. (http://www.all4coding.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */

/* @var $this All4coding_Core_Block_Customer_Header */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->getHeaderText(); ?></h1>
    <?php echo $this->getChildHtml('buttons') ?>
    <br /><br />
</div>
<dl class="order-info">
    <dt><?php echo $this->getLinksText() ?></dt>
    <dd>
        <?php $_links = $this->getLinks(); ?>
        <ul id="order-info-tabs">
        <?php foreach ($_links as $_link): ?>
            <?php if($this->isActive($_link)): ?>
                <li class="current"><?php echo $_link->getLabel() ?></li>
            <?php else: ?>
                <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
            <?php endif; ?>
        <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateGeneric($('order-info-tabs').select('LI'),['first','last']);</script>
        <br /><br />
    </dd>
</dl>
<br /><br />
