<style>
<!--
body.ajax-index-options{
 width:380px;
 padding:0px;
 margin:0px;
}
body.ajax-index-options .product-shop .product-options-bottom .price-box{
 float:left;
}
-->
</style>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
	$meigee_bizarre_productpage = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_productpage');
	$richSnippets = $meigee_bizarre_productpage['rich_snippets']; 
	$moreviewshover = $meigee_bizarre_productpage['general']['moreviews_hover'];
	$meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');	
	$timerStatus = $meigee_bizarre_general['price_countdown']['status'];
	$timerProductStatus = $meigee_bizarre_general['price_countdown']['timer_product_status'];
	$timerTitle = $meigee_bizarre_general['price_countdown']['timer_product_title'];
	$timerTitleText = $meigee_bizarre_general['price_countdown']['timer_product_title_text'];
	$timerFormat = $meigee_bizarre_general['price_countdown']['timer_product_format'];
	$timerDisplay = $meigee_bizarre_general['price_countdown']['timer_product_display'];
	$specialprice = $_product->getSpecialPrice(); 
	$specialPriceFromDate = $_product->getSpecialFromDate();
	$specialPriceToDate = $_product->getSpecialToDate();
	$today =  time();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="container_12">
	<div class="product-view">
		<div class="product-essential">
		<form action="<?php echo $this->getSubmitUrl($_product, array('_secure' => $this->_isSecure())) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<div class="no-display">
				<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
				<input type="hidden" name="related_product" id="related-products-field" value="" />
			</div>
			<div class="alpha grid_4 product-img-box">
			   <?php echo $this->getChildHtml('media'); ?>
			</div>
			<div class="grid_5 omega product-shop">
				<div class="product-name">
					<h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
				</div>
				<?php if ($_product->getShortDescription()):?>
				   <div class="short-description">
					   <div class="std"<?php if($richSnippets['status'] == 1): ?> itemprop="description"<?php endif; ?>><h2><?php echo $this->__('Details:') ?></h2><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
				   </div>
			   <?php endif;?>
				<?php if($this->hasOptions()): ?>
				<div class="hide">
				<?php endif; ?>
				<div class="price-block">
					<?php echo $this->getChildHtml('product_type_data'); ?>
				</div>
				<?php if($this->hasOptions()): ?>
				</div>
				<?php endif; ?>
				<?php if (!$this->hasOptions()):?>
					<?php if($timerStatus && $timerProductStatus) { ?>
						<?php if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
							if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)): ?>
								<div class="timer-wrapper<?php if($timerFormat == 2):?> full<?php endif; ?>">
							<?php endif;
						endif;
					} ?>
					<div class="add-to-box">
						<?php if($_product->isSaleable()): ?>
							<?php echo $this->getChildHtml('addtocart') ?>
						<?php endif; ?>
					</div>
					<?php if($timerStatus && $timerProductStatus) { ?>
						<?php if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
							if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)): 
							?>
								<div class="clear"></div>
								<div class="timer-<?php echo $_product->getId(); ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>">
									<?php if($timerTitle): ?>
										<div class="title"><?php echo $timerTitleText; ?></div> 
									<?php endif; ?>
									<?php if ($timerFormat == 0) { ?>
										<div class="days"><span>00</span></div>
										<div class="hours"><span>00</span></div>
										<div class="minutes"><span>00</span></div>
										<div class="seconds"><span>00</span></div>
									<?php } elseif ($timerFormat == 1) { ?>
										<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
										<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
										<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
										<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
									<?php } elseif ($timerFormat == 2) { ?>
										<div class="days"><span>00</span><strong><?php echo $this->__('Days'); ?></strong></div>
										<div class="hours"><span>00</span><strong><?php echo $this->__('Hours'); ?></strong></div>
										<div class="minutes"><span>00</span><strong><?php echo $this->__('Minutes'); ?></strong></div>
										<div class="seconds"><span>00</span><strong><?php echo $this->__('Seconds'); ?></strong></div>
									<?php } ?>
								</div>
								<script type="text/javascript">
									endDate = new Date("<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>");
									startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>"));
									dateDiff = new Date((endDate)-(startDate));
									secondsDiff = Math.floor(dateDiff.valueOf()/1000);
									minutesDiff = Math.floor(secondsDiff.valueOf()/60);
									new productTimer.init(secondsDiff, <?php echo $_product->getId(); ?>);
								</script>
							</div>
							<div class="clear"></div>
					<?php 
							endif;
						endif; 
					}?>
				<?php endif; ?>
				<?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
				<?php endif;?>
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('likes')->toHtml() ?>
			</div>
			<div class="clear"></div>
			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(button, url) {
			if (this.validator.validate()) {
				var form = this.form;
				var oldUrl = form.action;
				if (url) {
					form.action = url;
				}
				var e = null;
				// Start of our new ajax code
				if (!url) {
					url = jQuery('#product_addtocart_form').attr('action');
				}
				url = url.replace("checkout/cart","ajax/index"); // New Code
				var data = jQuery('#product_addtocart_form').serialize();
				data += '&isAjax=1';
				jQuery('#ajax_loader').css('display', 'inline-block');
				try {
					jQuery.ajax( {
						url : url,
						dataType : 'json',
						type : 'post',
						data : data,
						success : function(data) {
							jQuery('#ajax_loader').css('display', 'none');
							parent.setAjaxData(data,true);
						}
					});
				} catch (e) {
				}
				// End of our new ajax code
				this.form.action = oldUrl;
				if (e) {
					throw e;
				}
			}
		}.bind(productAddToCartForm);
		productAddToCartForm.submitLight = function(button, url){
				if(this.validator) {
					var nv = Validation.methods;
					delete Validation.methods['required-entry'];
					delete Validation.methods['validate-one-required'];
					delete Validation.methods['validate-one-required-by-name'];
					if (this.validator.validate()) {
						if (url) {
							this.form.action = url;
						}
						this.form.submit();
					}
					Object.extend(Validation.methods, nv);
				}
			}.bind(productAddToCartForm);
		//]]>
		jQuery(window).load(function(){
			/* Ratings */
			jQuery('.ratings .rating-links a').on('click', function(){
				link = jQuery(this).attr('href');
				parent.document.getElementsByClassName('fancybox-close')[0].click();
				parent.document.location.href = link;
				return false;
			});
		});
		
		<?php if($moreviewshover): ?>
		jQuery('.more-views li a').on('mouseover', function(){
			jQuery(this).trigger('click');
		});
		<?php endif; ?>
		</script>
		<style type="text/css">
			body{width:auto!important;}
			
			@media only screen and (max-width: 384px){
				.ajax-index-options .container_12 {
					margin: 0;
					width: auto;
				}
				
				.ajax-index-options .container_12 .grid_5{
					float:none;
					margin:0;
					width:100%;
				}
				.ajax-index-options .container_12 .grid_4.product-img-box .product-image .img-holder{padding-right:15px;}
				
				.ajax-index-options .product-view .product-name {
					padding-right:24px;
				}
				
				
				.ajax-index-options .product-view .more-views #more-views-slider li a{
					margin-right:7px;
					width:48px;
				}
				
				
				.ajax-index-options .more-views .prev{
					left:15px;
				}
				.ajax-index-options .more-views .next{
					right:17px;
				}
				.ajax-index-options .product-view .product-shop .product-options-bottom .price-box{margin-bottom: 0.33em !important;}
				.ajax-index-options .product-view .product-shop .product-options-bottom button{margin-left:5px;}
				.ajax-index-options .product-view .product-shop .product-options-bottom .add-to-cart #ajax_loader{
					float: left;
					margin: 0;
					top: 12px;
					clear:none;
					margin: 0!important;
				}
				.ajax-index-options .product-view .product-options,
				.ajax-index-options .product-view .product-options-bottom{margin-right:10px!important;}
				
				.ajax-index-options .product-view .product-shop .product-options-bottom .price-box{float:none;}
				
				.product-options-bottom .add-to-cart {
					top: 0;
					margin-bottom: 0;
				}
			} 
			
			@media only screen and (min-width: 385px) and (max-width: 580px){
				.ajax-index-options .container_12 {
					margin: 0;
					width: auto;
				}
				.ajax-index-options .container_12 .grid_4.product-img-box{
					width:45%;
					float:left;
					margin:0;
				}
				.ajax-index-options .container_12 .grid_5{
					float:right;
					width:50%;
					margin:0;
				}
				.ajax-index-options .product-view .more-views #more-views-slider li a{
					margin-right:7px;
					width:47px;
				}
				.ajax-index-options .more-views .prev{
					left:15px;
				}
				.ajax-index-options .more-views .next{
					right:17px;
				}
				
				.ajax-index-options .product-view .product-shop .add-to-cart button{
					margin-left: 0;
				}
				.ajax-index-options .product-view div.quantity-increase {margin-right: 13px;}
				.ajax-index-options .product-view .add-to-cart button.button span span {padding: 0 14px;}
				.ajax-index-options .product-view .grouped-items-table th,
				.ajax-index-options .product-view .grouped-items-table td {padding: .5em 1px;}
				.ajax-index-options .product-view .grouped-items-table th {text-align: center!important;}
			}
			
		</style>
		</div>
	</div>
</div>