<div class = "data-table cart-table">
		<h2 style = "font-size:14px; font-weight:bold;"><b>Galimi užsakymo apmokėjimo būdai</b></h2>
		<ul style = "list-style:circle; padding-left:15px;">
			<li style = "font-weight:bold;">Paysera / Mokėjimai.lt</li>
				<ol> - Atsiskaitymas naudojant elektroninės bankininkystės sistemą (užsakymo detalės automatiškai sugeneruojamos atitinkamose laukeliuose).</ol>
			<li style = "font-weight:bold;">Apmokėjimas grynais pinigais arba banko kortele, pardavėjo prekybos vietoje.</li>
				<ol> - Pirkėjas atlikęs užsakymą, apmoką jį grynais pinigais arba banko kortele mūsų prekybos vietoje.</ol>
			<li style = "font-weight:bold;">Bankinis Pavedimas (savitarna).</li>
				<ol>- Pirkėjas pats atlieka bankini pavedimą pasinaudojęs elektroninė bankininkystę arba savo banko padalinyje.</ol>
		</ul>
</div>

<div class = "data-table cart-table">
		<h2 style = "font-size:14px; font-weight:bold;"><b>Galimi užsakymo atsiėmimo / pristatymo būdai</b></h2>
		<ul style = "list-style:circle; padding-left:15px;">
			<li style = "font-weight:bold;">Užsakymo atsiėmimas pardavėjo prekybos vietoje</li>
				<ol> - Kuomet Jūsų užsakymas bus paruoštas, galėsite jį atsiimti mūsų prekybos vietoje adresu : Kalvarijų g 125, Vilnius PC “Baldų rojus", 3 aukštas </ol>
			<li style = "font-weight:bold;">Pristatymas Vilniuje su prekės surinkimu ir sunešimu (Fiksuota kaina)</li>
				<ol> - Pristatymas Jūsų nurodytų adresu Vilniuje su prekkės surinkimu ir sunešimu.</ol>
			<li style = "font-weight:bold;">Pristatymas kurjeriu į kitus Lietuvos miestus (su sunešimu).</li>
				<ol> - Pristatymas Jūsų nurodytu adresu Lietuvoje. Kaina apskaičuojama pagal prekių svorį.</ol>
		</ul>
</div>
