body {font-weight: 300; color: #666;}
.topline {padding-bottom: 0; z-index:9;}
.topline > .container_12 > .grid_12 {padding-top: 2em; padding-bottom: 2em;}
.topline .grid_12 {border-style: dotted;}
.topline .top-block .grid_12 {border: none;}
#header .logo-wrapper {position: static;}
header#header h2.logo {margin: 0; text-align: center;}
header.header .header-right {z-index: 0; margin: 0;}
header.header .top-cart {float: right;}
header.header .top-cart .block-title .title-cart {font-family: inherit; font-size: 1em; font-weight: 300; text-transform: uppercase; padding-left: 5px; padding-right: 5px;}
header.header .top-cart .block-title .title-cart .price:before {
	content: "\f07a";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 2px;
}
header#header .language-currency-block {float: none; display: inline-block; margin-top: .25em;}
header#header .language-currency-dropdown {top: auto; z-index: 99;}
header#header .welcome-msg {text-transform: uppercase; padding: 0; float: none;}
.nav-container > ul {text-align: center;}
header#header .header-right.simple-list .links {text-align: right; float: right; margin: 0;}
header#header .header-right.simple-list .links li {float: none; display: inline-block;}
header#header .header-right.simple-list .links li:first-child a {padding-left: 0; margin-left: 0; border-left: none;}
header#header .header-right.simple-list .links a {text-transform: uppercase; padding: 1px 0; padding-left: 15px; padding-right: 12px; border-left: solid 1px #ddd;}
header#header .header-right.simple-list .links li.last a {padding-right: 0;}
header#header .header-links {float: left; margin: .5em 0; line-height: 1;}
header#header .header-links li {display: inline-block; line-height: 1;}
header#header .header-links li:first-child a {padding-left: 0; margin-left: 0; border-left: none;}
header#header .header-links a {text-transform: uppercase; padding: 2px 0 0; padding-left: 15px; padding-right: 12px; border-left: solid 1px; border-color: #ddd; display: inline-block; line-height: 1;}
header#header .header-links li.last a {padding-right: 0;}
header#header .logo {float: none;}
header#header .links {float: right;}
header#header .links li{padding-left: 0;}
header#header .links li a{margin-left: 2px;}
header#header .top-link-wishlist,
header#header .customer-name{float: right;}
header#header .customer-name{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 0.4em 10px;
	-moz-transition:border-color 300ms ease;
	-webkit-transition:border-color 300ms ease;
	-o-transition:border-color 300ms ease; 
	transition:border-color 300ms ease;
}
header#header .customer-name .arrow i {margin-right: -10px;}
body.boxed-layout .topline .container_12 {padding-top: 0; padding-bottom: 0;}
header#header .quick-access {float: right; clear: both;}
.nav-container a.level-top > span {font-weight: 300; line-height: 1.25; padding-top: 4px; display: inline-block; border-left: solid 1px #ddd; padding-left: 15px; padding-right: 12px;}
.nav-container li.first a.level-top > span {border: none;}
.nav-container a.level-top {padding-top: 1.75em; padding-bottom: 1.75em; padding-left: 0; padding-right: 0;}
.cms-index-index .content-wrapper .main-container {padding-top: 0; padding-bottom: 0;}
header.header .search_mini_form {padding-top: .75em;}
header.header .form-search input {width: 241px; height: 28px;}
header.header .form-search button > span {height: 36px;}
header.header .form-search button span span {line-height: 34px;}
.header .simple-list .links .top-link-account:before,
.header .simple-list .links .top-link-wishlist:before,
.header .simple-list .links .top-link-checkout:before,
.header .simple-list .links .top-link-login:before,
.header .simple-list .links .top-link-logout:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-right: 5px;
	padding: 0;
}
.header .simple-list .links .top-link-account:before {content: '\f007';}
.header .simple-list .links .top-link-wishlist:before {content: '\f005';}
.header .simple-list .links .top-link-checkout:before {content: '\f155';}
.header .simple-list .links .top-link-login:before {content: '\f084';}
.header .simple-list .links .top-link-logout:before {content: '\f08b';}

.skin7-link a {color: inherit;}
.skin7-link a:after {
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 10px;
}
.text-banner .text-banner-content {
	top: auto;
	bottom: 8%;
	left: auto;
	right: 7%;
	width: 41%;
}
.text-banner-content span {display: block;}
.text-banner-content .subtitle {font-size: 1.083em; color: #222; font-weight: 300; margin-bottom: 1em;}
.text-banner-content .title {font-size: 2em; color: #222; font-weight: 200; margin-bottom: .5em; line-height: 1;}
.text-banner-content .text {font-size: 1.16em; color: #666; font-weight: 300; margin-bottom: 1.5em; line-height: 1.55;}
.text-banner-content .link {font-size: 1.16em; font-weight: 300; color: #d4a554;}
.products-grid .product-name a,
.products-list .product-name a,
.footer-products-list .product-shop .product-name a,
.price-box .price {font-family: inherit;}
.text-banner-content .subtitle,
.text-banner-content .title,
.std .text-blocks li h3 {font-family: 'Biryani';}
.text-banner-content .link,
.text-banner-content .text {font-family: inherit;}
.text-banner-content .link:after {
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: 10px;
}
.text-banner .text-banner-content.skin-2 {left: auto; right: 7%; width: 35%; top: 19%; text-align: right;}
.text-banner-content.skin-2 .subtitle {font-size: 1.5em; margin-bottom: 1.5em;}
.text-banner-content.skin-2 .title {margin-bottom: .75em;}

.text-banner .text-banner-content.skin-3 {left: auto; right: 7%; width: 40%; top: 25%;}
.text-banner-content.skin-3 .subtitle {font-size: 1.5em;}
.text-banner-content.skin-3 .title {font-size: 2em; margin-bottom: .5em;}
.products-grid li.item .button-holder .btn-cart > span {height: 38px;}

#popup-block .block-subscribe .button span span {line-height: normal; height: auto;}

.products-grid .product-name a,
.products-list .product-name a,
.footer-products-list .product-shop .product-name a {font-weight: 300; font-size: 1em; text-transform: uppercase; line-height: 1.5em;}
.footer-products-list .product-image {width: 162px;}
.footer-products-list .product-shop {width: 54%;}
.footer-products-list .product-shop .product-name {margin-top: 0; margin-bottom: .5em;}
.footer-products-list .product-shop .price-box {margin-bottom: .75em;}
.special-price .price,
.regular-price .price {font-size: 1.33em; font-weight: 800;}
#footer .footer-topline .grid_12 {border-bottom: dotted 1px; border-color: inherit;}
#footer .footer-second-line .footer-block-title {margin-bottom: 0;}
#footer .footer-second-line .footer-block-title h2 {font-size: 1.16em;}
#footer .footer-second-line .links li a {padding-top: .33em; padding-bottom: .33em; padding-left: 14px;}
#footer .footer-second-line .links li a:hover {padding-left: 20px;}
#footer .footer-second-line .links li a:before {top: .55em; margin-left: 0;}
.products-grid li.item .product-buttons .btn-quick-view span span,
.footer-links span {font-family: inherit; font-size: 1em; font-style: normal;}
#footer .footer-second-line .footer-logo-wrapper {margin: 0 0 2em;}
#login-holder form .actions button span,
.add-to-cart button.button span,
button.button span,
#login-holder .link-box a,
.my-wishlist .data-table button span,
aside.sidebar .actions a,
header.header .top-cart .block-content .actions a,
#login-holder .link-box a, a.aw-blog-read-more,
.add-to-cart-success a,
header.header .top-cart .block-content .actions button.button span {box-sizing: border-box; -webkit-box-sizing: border-box; height: 40px; text-transform: none;}
#login-holder form .actions button span span,
.add-to-cart button.button span span,
button.button span span,
.my-wishlist .data-table button span span,
header.header .top-cart .block-content .actions button.button span span,
.iwdbutton button.button span span,
.cart .btn-proceed-checkout span span,
body .opc-wrapper-opc .btn-checkout span span,
body .opc-wrapper-opc .discount-block .button span span {
	height: auto;
	line-height: normal;
	vertical-align: middle;
	display: block;
	padding-top: 7px;
	font-size: 14px;
	padding-bottom: 6px;
	font-family: inherit;
	font-weight: 300;
	text-transform: none;
}
aside.sidebar .actions a,
.add-to-cart-success a {line-height: 40px;}
#login-holder .page-title h1 {padding: 0;}
nav.breadcrumbs li a,
nav.breadcrumbs li strong,
.block-vertical-nav li a,
aside.sidebar .product-name a,
aside.sidebar .block .block-content,
.product-view .product-shop .short-description,
aside.sidebar .block.block-layered-nav dl dd li,
.timer-box,
aside.sidebar .block.block-wishlist li.item .product-details .product-name a,
aside.sidebar .block.block-wishlist .link-cart,
.toolbar .sbSelector > span,
header.header .top-cart .product-name a,
header.header .top-cart .block-content .mini-products-list .product-details .price,
.item-options dt,
.item-options dd,
.crosssell .product-details .product-name a,
.crosssell .product-details button.button span {font-family: inherit; font-style: normal;}
aside.sidebar .actions button span {height: 40px;}
aside.sidebar .actions button span span {line-height: normal; font-family: inherit; font-weight: 300; text-transform: none; height: auto; padding-top: 7px; padding-bottom: 6px;}

.block.block-layered-nav .block-content dd .configurable-swatch-list li {margin: 1px 1px 1em;}
h2, h3, h4, h5, h6 {font-family: inherit;}
header.header .search-button {margin-top: 1em;}
.header,
#sticky-header {box-shadow: 0 0 5px rgba(0,0,0,.1);}
.cms-index-index .header {box-shadow: none;}
body .widget .widget-title h1,
body .widget .widget-title h2,
.widget-title h2,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.related-wrapper-bottom .block-title strong span,
.rating-title h2,
.block-title h2,
aside.sidebar .block-title strong span {font-size: 2em!important; font-weight: 100!important; text-transform: none; float: left; padding-right: 10px;}
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.cart .page-title h1 {padding: 0; font-size: 2.5em!important;}
.cart .page-title {margin-bottom: 1em;}
.menu-tags h5, .menu-categories h5, .menu-recent h5 {
	font-weight: bold;
    font-size: 1.333em;
    color: #222;
    text-transform: uppercase;
    border-bottom: solid 1px #ddd;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-style: normal;
}

body .widget .widget-title h1,
body .widget .widget-title h2,
.widget-title h2,
.related-wrapper-bottom .block-title strong span,
.rating-title h2 {padding-left: 10px;}

.products-grid li.item .product-info.no-add-to-cart {text-align: center;}
.products-grid li.item .product-info.no-add-to-cart .ratings .rating-box {margin-right: 0;}
.products-grid li.item .product-info.no-add-to-cart .ratings .rating-box,
.products-grid li.item .product-info.no-add-to-cart .ratings .rating-links {display: inline-block; float: none;}
.products-grid li.item .product-info.no-add-to-cart .ratings .rating-box + .rating-links {margin-left: 10px;}

.rating-box .rating {background: url(../images/bkg_rating.gif) 0 100% repeat-x;}
.product-collateral .box-collateral {color: #444;}
.std .text-blocks {padding: 3.33em; border: solid 1px #ddd; list-style-type: none;}
.std .text-blocks li {float: left; padding: 0 20px; width: 33.33%; box-sizing: border-box; -webkit-box-sizing: border-box;}
.std .text-blocks li h3 {text-transform: uppercase; font-weight: 300; font-size: 1em;}
.std .text-blocks li p {font-weight: normal; margin-bottom: 0;}
.std .text-blocks li .icon {display: inline-block; padding-right: 10px;}
.std .text-blocks li .text {display: inline-block; width: 85%;}

.left-divider,
.right-divider {display: block; float: left; margin-top: 1.25em; border-bottom: dotted 1px; border-color: inherit;}
header.block-title {border-bottom-width: 0; padding-bottom: 0; margin-bottom: 0;}
.widget-latest li .post-date, .widget-latest li .comments {display: inline-block; vertical-align: middle; float: none;}
.widget-latest li .comments a {text-transform: uppercase; color: #666;}
.widget-latest li .postContent {border: none;}
.widget-latest li h3 a {font-size: .91em; font-weight: 300; text-transform: uppercase;}
.widget-latest li .postContent p {color: #666; font-size: 1.16em; line-height: 1.57em;}
.widget-latest li .postContent .truncated {height: 4em; margin-bottom: .75em;}

#footer address {float: left; margin-top: 1em;}
#footer .store-switcher {float: right;}
#footer .footer-bottom {font-weight: normal;}
.footer-payments {text-align: center;}
#footer .store-switcher, #footer .form-language, #footer .form-currency {margin-right: 0; margin-top: .44em;}
#footer .footer-bottom .container_12 {padding-top: .44em; padding-bottom: .44em;}

.rev_slider_wrapper .tp-leftarrow.default, .rev_slider_wrapper .tp-rightarrow.default {width: 20px; height: 80px;}
.tp-leftarrow.default:after, .tp-rightarrow.default:after {font-size: 14px; margin-left: -3px;}