.header .simple-list .links .top-link-account:before,
.header .simple-list .links .top-link-wishlist:before,
.header .simple-list .links .top-link-checkout:before,
.header .simple-list .links .top-link-login:before {margin-right: 0; margin-left: 5px;}
header#header .header-links a {border-left: none; border-right: solid 1px; border-color: #ddd; padding-left: 12px; padding-right: 15px;}
header#header .header-links li:first-child a {border-right: none; padding-left: 12px; padding-right: 0;}
header#header .header-links li:last-child  a {padding-left: 0;}
header#header .quick-access {float: left;}
header#header .header-right.simple-list .links {float: left; text-align: left;}
header#header .header-right.simple-list .links a {border-left: none; border-right: solid 1px #ddd; padding: 1px 15px 1px 12px;}
header#header .header-right.simple-list .links li:first-child a {padding-left: 15px; margin-left: inherit; padding-right: 0; border: none;}
header#header .header-right.simple-list .links li.last a {padding-left: 0; padding-right: 15px;}

header.header .top-cart .block-content {left: auto; right: 0;}
.nav-container a.level-top > span {border-left: none; border-right: solid 1px #ddd;}
header.header .top-cart .block-title .title-cart .price:before {margin-left: 2px; margin-right: 0;}
.text-banner-content .link:after,
.skin7-link a:after {
	content: "\f104";
	margin-right: 10px;
	margin-left: 0;
}
.products-grid li.item .product-info.no-add-to-cart .ratings .rating-box + .rating-links {margin-right: 10px; margin-left: 0;}
.text-banner .text-banner-content.skin-3,
.text-banner .text-banner-content {right: auto; left: 7%;}
.text-banner .text-banner-content.skin-2 {right: auto; left: 7%; text-align: left;}
#footer .footer-second-line .links li a {padding-left: 0; padding-right: 14px;}
#footer .footer-second-line .links li a:hover {padding-right: 20px; padding-left: 0;}
body .widget .widget-title h1,
body .widget .widget-title h2,
.widget-title h2,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.related-wrapper-bottom .block-title strong span,
.rating-title h2,
.block-title h2,
aside.sidebar .block-title strong span {float: right; padding-left: 10px; padding-right: 0;}
body .widget .widget-title h1,
body .widget .widget-title h2,
.widget-title h2,
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6,
.related-wrapper-bottom .block-title strong span,
.rating-title h2 {padding-right: 10px;}
.std .text-blocks li {float: right;}
.std .text-blocks li .icon {padding-right: 0; padding-left: 10px;}
.left-divider,
.right-divider {float: right;}
#footer address {float: right;}
#footer .store-switcher {float: left;}
#footer .footer-second-line .links li a:before {margin-right: 0; margin-left: 7px;}
header#header h2.logo {float: none;}
#footer .store-switcher, #footer .form-language, #footer .form-currency {margin-left: 0; margin-right: 20px;}