/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

body {
		min-width: 1272px;
		overflow-x:hidden;
	}

	/* Containers
	----------------------------------------------------------------------------------------------------*/
	.container_12 {
		margin-left: auto;
		margin-right: auto;
		width: 1272px;
	}

	/* Grid >> Global
	----------------------------------------------------------------------------------------------------*/


	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		display:inline;
		float: left;
		position: relative;
		 margin-left: 10px;
		margin-right: 10px;
	}



	.push_1, .pull_1,
	.push_2, .pull_2,
	.push_3, .pull_3,
	.push_4, .pull_4,
	.push_5, .pull_5,
	.push_6, .pull_6,
	.push_7, .pull_7,
	.push_8, .pull_8,
	.push_9, .pull_9,
	.push_10, .pull_10,
	.push_11, .pull_11,
	.push_12, .pull_12 {
		position:relative;
	}


	/* Grid >> Children (Alpha ~ First, Omega ~ Last)
	----------------------------------------------------------------------------------------------------*/

	.alpha {
		margin-left: 0;
	}

	.omega {
		margin-right: 0;
	}

	/* Grid >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .grid_1 {
		width:86px;
	}

	.container_12 .grid_2 {
		width:192px;
	}

	.container_12 .grid_3 {
		 width:298px;
	}

	.container_12 .grid_4 {
		width:404px;
	}

	.container_12 .grid_5 {
		width:510px;
	}

	.container_12 .grid_6 {
		width:616px;
	}

	.container_12 .grid_7 {
		width:722px;
	}

	.container_12 .grid_8 {
		width:828px;
	}

	.container_12 .grid_9 {
		width:934px;
	}

	.container_12 .grid_10 {
		width:1040px;
	}

	.container_12 .grid_11 {
		width:1146px;
	}

	.container_12 .grid_12 {
		width:1252px;
	}




	/* Prefix Extra Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .prefix_1 {
		padding-left:106px;
	}

	.container_12 .prefix_2 {
		padding-left:212px;
	}

	.container_12 .prefix_3 {
		padding-left:318px;
	}

	.container_12 .prefix_4 {
		padding-left:424px;
	}

	.container_12 .prefix_5 {
		padding-left:530px;
	}

	.container_12 .prefix_6 {
		padding-left:636px;
	}

	.container_12 .prefix_7 {
		padding-left:742px;
	}

	.container_12 .prefix_8 {
		padding-left:848px;
	}

	.container_12 .prefix_9 {
		padding-left:954px;
	}

	.container_12 .prefix_10 {
		padding-left:1060px;
	}

	.container_12 .prefix_11 {
		padding-left:1166px;
	}



	/* Suffix Extra Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .suffix_1 {
		padding-right:106px;
	}

	.container_12 .suffix_2 {
		padding-right:212px;
	}

	.container_12 .suffix_3 {
		padding-right:318px;
	}

	.container_12 .suffix_4 {
		padding-right:424px;
	}

	.container_12 .suffix_5 {
		padding-right:530px;
	}

	.container_12 .suffix_6 {
		padding-right:636px;
	}

	.container_12 .suffix_7 {
		padding-right:742px;
	}

	.container_12 .suffix_8 {
		padding-right:848px;
	}

	.container_12 .suffix_9 {
		padding-right:954px;
	}

	.container_12 .suffix_10 {
		padding-right:1060px;
	}

	.container_12 .suffix_11 {
		padding-right:1166px;
	}



	/* Push Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .push_1 {
		left:106px;
	}

	.container_12 .push_2 {
		left:212px;
	}

	.container_12 .push_3 {
		left:318px;
	}

	.container_12 .push_4 {
		left:424px;
	}

	.container_12 .push_5 {
		left:530px;
	}

	.container_12 .push_6 {
		left:636px;
	}

	.container_12 .push_7 {
		left:742px;
	}

	.container_12 .push_8 {
		left:848px;
	}

	.container_12 .push_9 {
		left:954px;
	}

	.container_12 .push_10 {
		left:1060px;
	}

	.container_12 .push_11 {
		left:1166px;
	}



	/* Pull Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .pull_1 {
		left:-106px;
	}

	.container_12 .pull_2 {
		left:-212px;
	}

	.container_12 .pull_3 {
		left:-318px;
	}

	.container_12 .pull_4 {
		left:-424px;
	}

	.container_12 .pull_5 {
		left:-530px;
	}

	.container_12 .pull_6 {
		left:-636px;
	}

	.container_12 .pull_7 {
		left:-742px;
	}

	.container_12 .pull_8 {
		left:-848px;
	}

	.container_12 .pull_9 {
		left:-954px;
	}

	.container_12 .pull_10 {
		left:-1060px;
	}

	.container_12 .pull_11 {
		left:-1166px;
	}
	
	/* Adaptive */
	
	/* 2 columns list */

	.products-grid#upsell-product-table > li:nth-of-type(5n+5){
		margin-right:0;
	}
	.products-grid#upsell-product-table > li:nth-of-type(5n+1){
		clear:left;
	}
	
	.more-views ul li:nth-of-type(4n+4){
		margin-right:0;
	}
	.more-views ul li:nth-of-type(4n+1){
		clear:left;
	}
	.productpage_medium .more-views ul li:nth-of-type(5n+1){
		clear:left;
	}
	.products-grid#upsell-product-table > li:nth-of-type(5n+5){
		margin-right:0;
	}
	.products-grid#upsell-product-table > li:nth-of-type(5n+1){
		clear:left;
	}
	
	.block-related .no-slider li.item:nth-of-type(2n+2){
		margin-right:0;
	}
	.block-related .no-slider li.item:nth-of-type(2n+1){
		clear:left;
	}
	
	.related-wrapper-bottom .block-related .no-slider li.item:nth-of-type(2n+1){
		clear:none;
	}
	.related-wrapper-bottom .block-related .no-slider li.item:nth-of-type(4n+4){
		margin-right:0;
	}
	.related-wrapper-bottom .block-related .no-slider li.item:nth-of-type(4n+1){
		clear:left;
	}
	
	
	.more-views ul.no-slider li:nth-of-type(4n+4){
		margin-right:0;
	}
	.more-views ul.no-slider li:nth-of-type(4n+1){
		clear:left;
	}
	.productpage_medium .more-views ul.no-slider li:nth-of-type(4n+4){margin-right: 10px;}
	.productpage_medium .more-views ul.no-slider li:nth-of-type(4n+1){clear:none;}
	.productpage_medium .more-views ul.no-slider li:nth-of-type(5n+5){margin-right: 0;}
	.productpage_medium .more-views ul.no-slider li {width: 103px;}
	/* Wide Menu */
    .nav-wide li.tech {
	padding: 1.5em 31px 0 0;
	width: 220px;
    }
	
	.nav-wide li.over .menu-wrapper { 
		display: block!important;
	}
	
	aside.sidebar .block.block-wishlist li.item .product-details{width: 63%;}
	
    .product-essential .product-image .es-nav-prev{
		left:0;
    }
    .product-essential .product-image .es-nav-next{
		right:0;
    }
    
    .product-view .box-up-sell .products-grid li.item {width: 234px;}
    .product-view .productpage_small .more-views li {width: 106px; margin: 0;}
    .product-view .productpage_small .more-views li a {margin: 0 10px;}
	.product-view .productpage_medium .more-views li{margin: 0; width: 105px;}
	.product-view .productpage_medium .more-views li a {margin: 0 8px;}
    .product-view .productpage_large .more-views li {margin: 0; width: 103px;}
	.product-view .productpage_large .more-views li a {margin: 0 5px;}
    .product-view .productpage_extralarge .more-views.slider-on {width: 520px;}
	.product-view .productpage_extralarge .more-views li {margin: 0; width: 130px;}
	.product-view .productpage_extralarge .more-views li a {margin: 0 8px;}
    .product-view .product-image .cloud-zoom-big {width: 100%!important;}
    .product-view .more-views li a {width: auto;}
    .product-view .more-views li a img {width: 100%;}
	.product-view .grid_9 .productpage_small .add-to-links,
	.product-view .grid_9 .productpage_small .product-options-bottom .add-to-links{margin-left: 0;}
	.related-wrapper-bottom .block-related li.item {width: 313px;}
	.related-wrapper .block-related li.item {width: 298px;}
    /*Multiple Checkout*/
    .multiple-checkout .sp-methods .form-list input.input-text{width:306px;}
    /* Cart Crossel*/
    .crosssell .product-image img{width:100%;}
    /* opc */
    .opc .field{width:410px;}
    .opc .field input.input-text{width:380px;}
    .opc .field-2, .opc .name-lastname{width:424px;}
    .opc .field-2 input.input-text,
    .opc .name-lastname input.input-text{width:405px;}
    .opc .form-list .field select,
    .opc .form-list .field-2 select{width: 100.5%;}
    .opc .form-list li.wide input.input-text{width: 91.3%;}
	.opc .form-list li.wide select {width: 94%;}
	.opc .form-list .fields .field input, .opc .form-list .fields .field-2 input {width: 95%;}
	.opc .form-list .fields .field.name-lastname input {width: 96%;}
	.opc .form-list .input-box {width: 90%;}
	.opc .form-list input[name="billing[taxvat]"],
	.opc .form-list input[name="shipping[company]"] {width: 47.5%;}
    .form-list li.wide select{width:824px;}
    .form-list .customer-name-suffix .name-lastname,
    .form-list .customer-name-middlename .name-firstname,
    .form-list .customer-name-middlename-suffix .name-firstname,
    .form-list .customer-name-middlename-suffix .name-lastname{width:275px;}
    .form-list .customer-name-prefix .name-firstname input.input-text,
    .form-list .customer-name-suffix .name-lastname input.input-text,
    .form-list .customer-name-middlename .name-firstname input.input-text,
    .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
    .form-list .customer-name-middlename-suffix .name-lastname input.input-text{width: 226px;}
	.form-list .customer-name-middlename .name-lastname input {width: 360px;}
	.opc .form-list .field.name-middlename input.input-text {width: 87px;}
    .opc .form-list .fields .field.name-middlename{width: 151px;}
	.opc .form-list .fields .field.name-lastname{width: 48%;}
    .opc .field-2 input.input-text,
    .opc .name-lastname input.input-text{width:407px;}
	.opc .gift-messages-form .allow-gift-messages-for-order-container .form-list input.input-text{width:253px;}
	.opc .sp-methods input.input-text{width:303px;}
	.opc-wrapper-opc .comment-block .comment textarea{width: 94%;}
	
    /* form list */
    .form-list .field{width:406px;}
    .form-list .name-middlename{width: 130px;}
    .form-list input.input-text{width: 360px;}
    .form-list li.wide input.input-text {width: 765px;}
	.form-list select {width: 382px;}
    .form-list li.wide textarea{width:755px;}
	.catalog-product-view .box-reviews .review  {width:78%;}
	.cart .shipping .form-list input {width: 92%}
	.contacts-index-index .form-list li.wide textarea {width: 765px;}
	.product-view .productpage_medium .product-shop > .product-collateral .box-up-sell .products-grid li.item {width: 183px; clear: none;}
	.product-view .productpage_medium .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(2n+1) {clear: left; margin-right: 15px;}
	.product-view .productpage_medium .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(5n+1) {clear: none;}
	.product-view .productpage_small .product-shop > .product-collateral .box-up-sell .products-grid li.item {float: none; clear: both!important; width: 276px;}
	.product-view .productpage_large .product-shop > .product-collateral .box-up-sell .products-grid li.item {width: 234px; clear: none;}
	.product-view .productpage_large .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(2n+1) {clear: left; margin-right: 20px;}
	.product-view .productpage_large .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(5n+1) {clear: none;}
	.product-view .productpage_extralarge .product-shop > .product-collateral .box-up-sell .products-grid li.item {width: 213px; clear: none; margin-left: 10px; margin-right: 10px;}
	.product-view .productpage_extralarge .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(4n+1) {clear: left; margin-left: 0;}
	.product-view .productpage_extralarge .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(4n+4) {clear: right; margin-right: 0;}
	.product-view .productpage_extralarge .product-shop > .product-collateral .box-up-sell .products-grid#upsell-product-table > li:nth-of-type(5n+1) {clear: none;}
	
	.cart-2 .discount .input-box input,
	.cart-2 .shipping .form-list input {width: 94.5%;}
	
	.product-essential .product-shop .vertical .box-up-sell .products-grid li.item {width: 174px;}
	.product-essential .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(5n+1){clear: none!important;}
	.product-essential .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(5n+5){margin-right: 10px!important;}
	.product-essential .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(2n+1){clear: left!important;	margin:0 10px 0 0!important;}
	.product-essential .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(2n+2){margin: 0 0 0 10px!important;}
	.product-essential.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(2n+1){clear: none!important; margin-left: 10px!important;}
	.product-essential.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(2n+2){margin-right: 10px!important;}
	.product-essential.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item{width:165px;}
	.product-essential.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+1){margin-left: 0!important; clear: left !important;}
	.product-essential.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+4){margin-right: 0 !important;}
	.product-essential.productpage_small .product-shop .vertical .box-up-sell .products-grid li.item{width:129px!important; float: left;}
	.product-essential.productpage_small.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item{width: 134px !important;}
	.product-essential.productpage_large .product-shop .vertical .box-up-sell .products-grid li.item{width:227px;}
	.product-essential.productpage_large.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item{width: 183px!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item{margin:0 10px!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(3n+1){clear: none !important; margin-left: 10px!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(3n+3){margin-right: 10px!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item{width:209px!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+1){clear: left !important;	margin-left: 0!important;}
	.product-essential.productpage_extralarge .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+4){margin-right: 0!important;}
	.product-essential.productpage_extralarge.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+1){clear: none !important; margin-left: 10px!important;}
	.product-essential.productpage_extralarge.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(4n+4){margin-right: 10px!important;}
	.product-essential.productpage_extralarge.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item{width:227px!important;}
	.product-essential.productpage_extralarge.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(5n+1){clear: left !important; margin-left: 0!important;}
	.product-essential.productpage_extralarge.no-sidebar .product-shop .vertical .box-up-sell .products-grid li.item:nth-of-type(5n+5){margin-right: 0!important;}
	header#sticky-header.floating .menu-button  {display: none!important;}
	#oar_widget_orders_and_returns_form .form-list input.input-text {width: 360px!important;}
	
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}