/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
   only screen and (min-resolution: 144dpi) {
	header#header .logo-wrapper,
	#footer .footer-second-line .grid_3.alpha {position: static;}
	header#header h2.logo,
	#footer .footer-logo {position: absolute; opacity: 0;}
	header#header h2.small-logo{position: absolute;}
	
	body .rating-box,
	body .rating-box .rating{background-size:12px 93px!important;}
	body .rating-box {background:url(../images/@x2/bkg_rating@x2.gif) 0 0 repeat-x; width: 60px;}
	body .rating-box .rating{background:url(../images/@x2/bkg_rating@x2.gif) 0 100% repeat-x;}
	
	.ratings-table .rating-box,
	.ratings-table .rating-box .rating{background-size:9px 107px!important;}
	.ratings-table .rating-box { width:43px; background:url(../images/@x2/bkg_rating_2@x2.gif) 0 0 repeat-x; }
	.ratings-table .rating-box .rating{ background:url(../images/@x2/bkg_rating_2@x2.gif) 0 100% repeat-x;}
	
	.catalog-product-view .box-reviews .data-table thead th span{background-image:url(../images/@x2/review_stars@x2.png); background-size:36px 78px!important;}
	.catalog-product-view .box-reviews .data-table thead th span.one-star{background-position:center 4px;}
	.catalog-product-view .box-reviews .data-table thead th span.two-stars{background-position:center -11px;}
	.catalog-product-view .box-reviews .data-table thead th span.three-stars{background-position:center -27px;}
	.catalog-product-view .box-reviews .data-table thead th span.four-stars{background-position:center -43px;}
	.catalog-product-view .box-reviews .data-table thead th span.five-stars{background-position:center -58px;}
	
	.home-banners-2 .text-banner {background-image: url(../images/@x2/text_banner_bg@x2.png); background-size: 298px 120px!important;}
	ul.brands li a img {max-width: none;}
	.newsletter-line .grid_12 {background-image: url(../images/@x2/subscribe_bg@x2.jpg); background-size: 50%;}
}