<?php
/**
 * Magento
 *
 * @category    design
 * @package     meigeetheme_default
 * @copyright   Copyright (c) 2012 MeigeeTeam. (http://www.meigeeteam.com)
 */
/* @var $this Mage_Wishlist_Block_Customer_Sidebar */
?>
<?php
	$meigee_bizarre_sidebar = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_sidebar');
    $block_wishlist = $meigee_bizarre_sidebar['block_wishlist']; 
    $helpImg = $this->helper('ThemeOptionsBizarre/images');
    $wishlistCount = count($this->getWishlistItems());
?>
<div class="block block-wishlist" <?php if ($block_wishlist['option'] == 1 && $wishlistCount > 1): ?> id="wishlist-slider" <?php endif; ?>>
    <div class="block-title">
        <strong><span><?php echo $this->getTitle(); ?></span></strong>
    </div>
    <div class="block-content">
    <p class="block-subtitle"><?php echo $this->__('Last Added Items') ?></p>
    <?php if ($this->hasWishlistItems()): ?>
    <div class="es-carousel">
        <ul class="carousel-ul">
         <?php foreach ($this->getWishlistItems() as $_item): ?>
            <?php $product = $_item->getProduct(); ?>
            <li class="item">
                <a href="<?php echo $this->getProductUrl($_item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>" class="product-image">
                    <img <?php echo $helpImg->getImgSources($product, 'thumbnail', 290, null); ?> alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
                </a>
                <div class="product-details">
                    <a href="javascript:void(0);" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Remove This Item')) ?>" onclick="if(confirm('<?php echo Mage::helper('core')->quoteEscape($this->__('Are you sure you would like to remove this item from the wishlist?'), true) ?>')){document.location.href='<?php echo $this->getItemRemoveUrl($_item) ?>'}" class="btn-remove"><i class="fa-times fa"></i></a>
                    <p class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->escapeHtml($product->getName()) ?></a></p>
                    <?php echo $this->getPriceHtml($product, false, '-wishlist') ?>
                    <?php if ($product->isSaleable() && $product->isVisibleInSiteVisibility()): ?>
                        <a href="<?php echo $this->getItemAddToCartUrl($_item) ?>" class="link-cart"><i class="fa fa-shopping-cart"></i><?php echo $this->__('Add to Cart') ?></a>
                    <?php endif; ?>
                </div>
				<div class="clear"></div>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
	<?php if ($block_wishlist['option'] == 1 && $wishlistCount > 1): ?>
		<div class = 'next'><i class="fa fa-angle-right"></i></div>
		<div class = 'prev unselectable'><i class="fa fa-angle-left"></i></div>
	<?php endif ?>
    <script type="text/javascript">decorateList('wishlist-sidebar');</script>
    <div class="actions">
        <a href="<?php echo $this->helper('wishlist')->getListUrl() ?>"><?php echo $this->__('Go to Wishlist') ?></a>
    </div>
	<div class="clear"></div>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
    <?php endif ?>
    </div>
    <?php if ($block_wishlist['option'] == 1 && $wishlistCount > 1): ?>
	<script type="text/javascript">
		/* Wishlist Block Slider */
		if(jQuery('#wishlist-slider').length){
			wishlist_slider();
			wishlist_set_height();
		}
	 /* Wishlist Block Slider */
	</script>
    <?php endif ?>
</div>