<!--@subject {{var order.getStoreGroupName()}}: Siuntos Nr. {{var shipment.increment_id}} informacija @-->

<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Mielas (-a) {{htmlescape var=$billing.getName()}}</strong>,<br/>
                                Siunčiame Jums informaciją apie Jūsų užsakymo vykdymo eigą. 
                                Jūsų užsakymo Nr. {{var order.increment_id}} statusas šiuo metu yra: <strong>{{var order.getStatusLabel()}}</strong>. 
                                Taip pat užsakymo būseną visada galite pasitikrinti prisijungę prie savo paskyros: <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">prisijungimas prie paskyros</a>.
                            </p>
                            <p><strong>Pardavėjo pastabos: </strong>{{var comment}}</p>
                            <p>Jei turite klausimų, susisiekite su mumis elektroniniu paštu: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>, arba telefonu: {{config path='general/store_information/phone'}}. Mūsų darbo laikas: Pirmadienį - Penktadienį 10:00 - 19:00. Šeštadienį 10:00 - 17:00. </p>
                            <p><strong>Mūsų įmonės duomenys: </strong>{{config path="general/store_information/address"}}</p>
                            <p>Ačiū, kad perkate pas mus,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>