#header.header .simple-list .links li a i{margin-right: 0; margin-left: 9px;}
#header.header .quick-access, header#header .welcome-msg, #header.header .top-cart {
    float: left;
}
#header.header .quick-access {
    padding: 0 0 9px 23px;
	border-right: none;
	border-left: 1px solid rgba(255,255,255,.3);
}
header.header .top-cart .block-title .title-cart {padding: 13px 70px 13px 0;}
#header.header .top-cart .block-title i {
	left: auto;
	right: 18px;
}
#footer .footer-links{
	right: auto;
	left: 0;
}