/* header */
#header.header .topline{background: rgba(255,255,255,.1); margin:0; padding:4px 0 2px;}
#header.header .header-custom-links{float: left;}
#header.header .header-custom-links li{display: inline-block;}
#header.header .header-custom-links li a{padding:0 13px; border-right: 1px solid rgba(255,255,255,.3); color:#fff; text-transform: uppercase; font-size: 11px; line-height: 24px;}
#header.header .header-custom-links li:last-child a{border: none;}
#header.header .simple-list .links li a.top-link-wishlist i,
#header.header .simple-list .links li a i {display: inline-block;}
#header.header .simple-list .links li a{color:#fff; text-transform: uppercase; border-right: 1px solid rgba(255,255,255,.3); padding:0 13px; line-height: 14px;}
#header.header .simple-list .links li:last-child a{border: none; padding-right: 0;}
#header.header .simple-list .links li a i{
    font-size: 14px;
    color: #fff;
	background: none;
	width: auto;
    height: auto;
    line-height: 13px;
    text-align: center;
	margin-right: 9px;
}
#header.header .header-right{margin:5px 0;}
#header.header .header-right.simple-list .links{margin:0;}
#header.header h2.logo{margin:0; padding:28px 0;}
#header.header .quick-access,
header#header .welcome-msg,
#header.header .top-cart {float: right;}
header#header .language-currency-block{float: none; margin-right: 0; background: none; padding-right: 0; padding-bottom: 7px; text-align: right;}
#header.header .quick-access{padding:0 23px 9px 0; margin:30px 0; border-right: 1px solid rgba(255,255,255,.3); position: relative;}
header#header .language-currency-block .language{border-color: rgba(255,255,255,.3);}
header#header .language-currency-block .currency i {
    color:rgba(255,255,255,.3);
    margin-top: 4px;
    font-size: 10px;
}
header#header .welcome-msg{padding:0; color:#fff; text-transform: uppercase; font-size: 11px;}
header#header .language-currency-block:hover,
header#header .language-currency-block.open{background: none;}
header#header .language-currency-dropdown {z-index: 999;}
header.header .top-cart{margin:30px 0;}
header.header .top-cart .block-title .title-cart{padding:13px 0 13px 70px; position: relative;}
header.header .top-cart .block-title .title-cart .top-cart-label{display: block; font-weight: 600;}
header.header .top-cart .block-title .title-cart .top-cart-divider{display: none;}
#header.header .top-cart .block-title i{
    display: block;
    position: absolute;
	left: 18px;
	top: 10px;
	font-size: 38px;
}
header.header .top-cart .block-title .price{font-weight: 600;}
#header.header .menu-line{background: rgba(0,0,0,.1);}
header.header .menu-line .grid_12,
body.boxed-layout header.header .menu-line .container_12{background: none;}
#header.header .nav-container{float: left;}
#header.header .search_mini_form{float: right; clear: none; padding: 0;}
#header.header .form-search{background: rgba(255,255,255,.2); padding:9px 17px 9px 20px;}
#header.header .form-search input{width: 240px; font-style: normal; font-weight: 400;}
header.header .form-search input{background: none; border: none;}
header.header .form-search button > span{background: none; border: none;}
header.header .form-search button span i {font-size: 13px;}
header.header .top-cart .block-title .cart-qty {color: #fff;}


.nav-container a.level-top{
	background: none;
	font-weight: bold;
	font-size: 11px;
}
.nav-container a.level-top:before{
	content:'';
	position:absolute;
	right:0;
	top:17px;
	width:1px;
	height:16px;
	background:rgba(255,255,255,.3);
}
.nav-wide li.level-top.last a.level-top:before{display: none;}
.nav-container a.level-top:hover,
.nav-container .active a.level-top,
.nav-container .over a.level-top{background: none;}
.nav-container a.level-top > span{text-transform: none; font-size: 14px; font-weight: 400;}
.menu-button i {margin-top: -2px;}
.nav-container.mobile li.level-top > a span{color:#222;}
header.header .form-search .focus button > span,
header.header .form-search .focus input{background: none; color:#fff;}
header.header .form-search button:hover > span {background: none;}

aside.sidebar .actions a,
header.header .top-cart .block-content .actions a,
#login-holder .link-box a, a.aw-blog-read-more,
button.button span span{
	font-size: 11px;
	font-weight: 700;
}
aside.sidebar .actions button span span {line-height: 32px;}
aside.sidebar .actions a,
header.header .top-cart .block-content .actions a,
#login-holder .link-box a, a.aw-blog-read-more{line-height: 33px;}
header.header .top-cart .block-content .actions a{line-height: 43px;}

.nav-container a.level-top > span {letter-spacing: 0;}

.widget-slider .products-grid li.item .product-info{width: 100% !important; float: none !important; max-width: 100%!important;}
.widget-slider .products-grid li.item .button-holder {
    float: none;
    margin-top: 10px;
}
.widget-slider .products-grid li.item .button-holder button.button span span{
    background: #eee;
    color: #666;
}


button.button.slider span span{
	font-size: 11px;
	color:#666;
	background:#fff;
	font-weight: 900;
	padding:5px 18px!important;
}

.more-views li a{padding-bottom: 1px;}

.product-view .box-up-sell .products-grid .product-image {
    display: block;
    border: 1px solid #ddd;
}

.block-related .product-image {
    border: 1px solid #ddd;
}

.banners-widget-block{padding:20px 0;}
.banners-widget-block img.banner{margin-bottom: 20px;}

body .widget-title h2{font-size: 18px!important; letter-spacing: 0; margin-bottom: 12px;}

.product-view .product-img-box .product-image .cloud-zoom img {
    border: 1px solid #ddd;
}

.product-view .product-shop .product-name .availability {display: block;}

.footer-products-list .product-image{
	border: 1px solid #ddd;
	padding-bottom: 1px;
}
.footer-products-list .product-shop .product-name a{color:#222;}
.footer-products-list .product-shop .product-name {margin-bottom: 6px;}
.footer-products-list .product-shop .ratings{margin-bottom: 0.7em;}
.footer-products-list .product-shop .price-box{margin-bottom: 10px;}
.price-box .price,
.footer-products-list .product-shop .price-box .price{font-weight: bold; font-size: 14px; font-family: Roboto;}

body .footer-products-list button.button span span{
	background:#eee;
	color:#666;
}

.home-product-widget{margin-bottom: 50px;}

.wide-banner-block .background-wrapper{
	background:url(../images/bizarre_electronics_wide_banner.png) center top no-repeat #3895c9;
}
.wide-banner-block  .wide-banner-block-inner{
	position: relative;
	z-index: 999;
	color:#fff;
	text-align: center;
	min-height:271px;
	padding:87px 0 42px;
}

.wide-banner-block  h2{
	color:#fff;
	text-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 5px;
	font-weight: 800;
	font-size: 48px;
	line-height: 40px;
	font-family: Raleway;
	text-transform: uppercase;
	letter-spacing: -3px;
	margin:0 0 10px;
}
.wide-banner-block span{
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	font-family: Roboto;
	padding: 0px 3px 0px 3px;
	margin:0 0 15px;
	display: inline-block;
	text-transform: uppercase;
	background-color: rgb(182, 216, 68);
}
.wide-banner-block p{
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	font-family: Roboto;
	padding: 2px 4px 2px 4px;
	text-transform: uppercase;
	word-spacing: -1px;
	letter-spacing: -0.6px;
	background-color: rgba(0, 0, 0, 0);
}
.wide-banner-block button.button span{padding:0;}
.wide-banner-block button.button span span{
	font-size: 11px;
	color:#666;
	background:#fff;
	font-weight: 900;
	padding:6px 18px 4px!important;
	margin:0;
}

.home-text-banners{padding:56px 0 62px;}
.home-text-banners div.box strong{
	font-size: 24px;
	font-family: Raleway;
}
.home-text-banners div.box p {font-style: normal; font-family: Roboto; font-size: 12px;}
.home-text-banners div.box a{font-family: Raleway; font-size: 11px;}

.content-banners img.banner{margin-bottom: 20px;}
.content-banners{padding-bottom: 20px;}

.product-view .product-custom .twitter-share-button,
.product-view .product-custom .fb-like ~ div iframe,
.fb_iframe_widget iframe{margin-bottom: 15px!important;}

.banners-widget-block .footer-products-list .product-image {width: 85px;}
.banners-widget-block .footer-products-list .product-shop {width: 60%;}


/* footer */
#footer .footer-logo{margin-bottom: 18px; display: block;}
#footer .footer-second-line > .container_12{position: relative;}
#footer .footer-second-line p{line-height: 20px; margin-bottom: 12px;}
#footer .footer-links{position: absolute; bottom: -53px; right: 0; z-index: 999;}
#footer .footer-links span{padding: 1.65em 24px; font-family: Roboto; font-weight: 100;}
#footer .footer-links li {padding: 10px 0;}
#footer address{float: none; display: inline-block;}
#footer .footer-second-line .footer-block-title h2{font-size: 13px;}
#footer .footer-second-line .links li{border: none;}
#footer .footer-second-line .links li a{padding: 0 0 6px 15px; font-size: 0.91em; line-height: 1.2em;}
#footer .footer-second-line .links li a:before{top: .2em;}
#footer .footer-second-line .links li:hover:after{display: none;}
#footer .footer-second-line .container_12 {padding-bottom: 20px;}
