
            <span class="closing-text">
              <p>
                Jei turite klausimų, susisiekite su mumis elektroniniu paštu: <a href="mailto:info@baldai-verslui.lt" style="color:#1E7EC8;">info@baldai-verslui.lt</a><br />
                 arba telefonu: +370 693 16151.
              </p>

              <p>
                <strong>Mūsų darbo laikas :</strong>  <br />
                Pirmadienį - Penktadienį 10:00 - 19:00. Šeštadienį 10:00 - 17:00.
              </p>

              <p>
                <strong>Mūsų įmonės duomenys :</strong> <br />
                UAB "VAMAKO"; <br />
                Įmonės kodas: 300828507; <br />
                PVM kodas: LT100003257611;
             </p>

              <p>
                <strong>Adresas :</strong><br />
                  Kalvarijų g 125, Vilnius; Prekybos centras “Baldų rojus", 3 aukštas;
              </p>

              <p>
                Ačiū, kad pasirinkote <strong><a href = "{{store url=""}}"><b>{{var store.getFrontendName()}}</strong><a/>
              </p>

              </span>
            </td>
        </tr>
    </table>
  </div>
</body>
