{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Priminimas apie nepavykusį apmokėjimą @-->

<table>
    <thead>
        <tr>
            <th>Apmokėjimas nepavyko.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Priežastis</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Išsiregistravimo būdas</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Pirkėjas:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Prekės</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Viso:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Mokėtojo adresas:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Pristatymo adresas:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Pristatymo būdas:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Apmokėjimo būdas:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Data ir Laikas:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>