<!--@subject Sveiki, {{var customer.name}}! @-->
<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Mielas (-a) {{htmlescape var=$customer.name}}</strong>,<br/>
                                Sveiki atvykę į {{var store.getFrontendName()}} internetinę parduotuvę. Tam, kad prisijungtumėte prie savo paskyros, spauskite <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Prisijungti</a> arba <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mano paskyra</a> (šias nuorodas rasite kiekvieno puslapio viršuje), įveskite savo el.pašto adresą ir slaptažodį.</p>
                            <p>Prisijungę prie savo paskyros, Jūs galite:</p>
                            <ul>
                                <li>Pereiti pirkimo procesą greičiau;</li>
                                <li>Patikrinti savo užsakymų būseną;</li>
                                <li>Peržiūrėti savo užsakymų istoriją;</li>
                                <li>Keisti savo paskyros informaciją;</li>
                                <li>Pakeisti savo slaptažodį;</li>
                                <li>Išsaugoti keletą pristatymo adresų (tam, kad būtų galima prekes pristatyti keliems šeimos nariams ir draugams!).</li>
                            </ul>
                          <p>Jei turite klausimų dėl savo paskyros, ar dėl kitų iškilusių problemų, susisiekite su mumis elektroniniu paštu: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>, arba telefonu: {{config path='general/store_information/phone'}}. Mūsų darbo laikas: Pirmadienį - Penktadienį 10:00 - 19:00. Šeštadienį 10:00 - 17:00. </p>
                            <p>Ačiū, kad perkate pas mus!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

