<!--@subject paskyrois pavirtinimas, skirtas {{var customer.name}} @-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Mielas (-a) {{htmlescape var=$customer.name}}</strong>, <br/> Sveiki atvykę į {{var store.getFrontendName()}} internetinę parduotuvę.</p>
                            <p>Prieš prisijungdami prie savo paskyros, patvirtinkite savo el.pašto adresą: {{var customer.email}}.</p> 
                            <p>Patvirtinimui naudokite <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"" style="color:#1E7EC8;"> šią nuorodą</a>. Ši nuoroda galioja tik vieną kartą.</p>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Jūsų prisijungimo duomenys:<br/>
                                El. paštas: {{var customer.email}}<br/>
                                Slaptažodis: {{htmlescape var=$customer.password}}<p>
                            <p>Jei turite klausimų dėl savo paskyros, ar dėl kitų iškilusių problemų, susisiekite su mumis elektroniniu paštu: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>, arba telefonu: {{config path='general/store_information/phone'}}. Mūsų darbo laikas: Pirmadienį - Penktadienį 10:00 - 19:00. Šeštadienį 10:00 - 17:00. </p>
                            <p>Ačiū, kad perkate pas mus!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

