<?php
    $_productCollection = $this->getMyCollection();
    $category = $this->catName();
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $this->getProductsAmount();
    $helpImg = $this->helper('ThemeOptionsBizarre/images');
	$random = rand(5, 1500);
	$_addToCart = $this->getAddToCart('add_to_cart_footer_list');
	$_price = $this->getProductPrice('price_footer_list');
	$_productName = $this->getProductName('product_name_footer_list');
	$_quickView = $this->getQuickView('quickview_footer_list');
	$wishlist = $this->getWishlist('wishlist_footer_list');
	$randId = $this->getWidgetId();
	$compareproducts = $this->getCompareProducts('compare_footer_list');
	$ratingStars = $this->getRatingStars('rating_stars_footer_list');
	$ratingCustomerLink = $this->getRatingCustLink('rating_cust_link_footer_list');
	$ratingReviewLink = $this->getRatingAddReviewLink('rating_add_review_link_footer_list');
	
	/* HTTP(s) */
	if (Mage::app()->getStore()->isCurrentlySecure()){
		$http = array('http:', 'https:');
	}else{
		$http = array('https:', 'http:');
	}
?>
<?php // List Mode ?>
<ol class="footer-products-list meigee-widget" id="products-list">
	<?php $i=0; foreach ($_productCollection as $_product): ?>
		<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
		<li class="item<?php $_iterator=0; if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
			<?php // Product Image ?>
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img <?php echo $helpImg->getImgSources($_product, 'small_image', 162, null); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
			<?php // Product description ?>
			<div class="product-shop">
				<?php if($_productName): ?>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
				<?php endif; ?>
				<?php $storeId = Mage::app()->getStore()->getId();
					$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
					if ($summaryData['rating_summary']): ?>
					<?php if ($ratingCustomerLink || $ratingReviewLink || $ratingStars) : ?>
						<div class="ratings">
							<?php if ($ratingStars) : ?>
								<div class="rating-box">
									<div class="rating" style="width: <?php echo $summaryData['rating_summary']; ?>%"></div> 
								</div>
							<?php endif; ?>
							<p class="rating-links">
								<?php if ($ratingCustomerLink) : ?>
									<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('%d Review(s)', $summaryData['reviews_count']) ?></a>
								<?php endif; ?>
								<?php if ($ratingCustomerLink && $ratingReviewLink) : ?>
									<span class="separator">|</span>
								<?php endif; ?>
								<?php if ($ratingReviewLink) : ?>
									<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('Add Your Review') ?></a>
								<?php endif; ?>
							</p>
						</div>
					<?php endif; ?>
				<?php endif; ?>
				<?php if(!$_product->isSaleable()): ?>
					<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				<?php endif; ?>
				<?php if($_price): ?>
					<?php echo str_replace('itemprop="price"', '', $this->getPriceHtml($_product, true)); ?>
				<?php endif; ?>
				<div class="list-small-buttons">
					<?php if($_product->isSaleable() and $_addToCart): ?>
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) ): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo str_replace($http[0], $http[1], $this->getAddToCartUrl($_product)); ?>','<?php echo $_product->getId().$random; ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<span id='ajax_loader<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span>
								</div>
							<?php else: ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="showOptions('<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-list-small' id='fancybox<?php echo $_product->getId()?>' style='display:none'>&nbsp;</a>
								</div>
							<?php endif; ?>
						<?php }else{ ?>
							 <div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></div>
						<?php } ?>
					<?php endif; ?>
					<?php if(Mage::getStoreConfig('ajax/general/enabledpro') and $_quickView){ ?>
						<button type="button" title="<?php echo $this->__('Quick View') ?>" class="button btn-quick-view" onclick="showOptions('<?php echo $_product->getId().$randId; ?>')"><span><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('quickview'); ?><?php echo $this->__('Quick View') ?></span></span></button>
						<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-list-small' id='fancybox<?php echo $_product->getId().$randId; ?>' style='display:none'>&nbsp;</a>
					<?php } ?>
					<?php if ($wishlist || $compareproducts) : ?>
						<?php if(Mage::getStoreConfig('ajax/wishlistcompare/enabledpro')){?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo str_replace($http[0], $http[1], $this->helper('wishlist')->getAddUrl($_product)); ?>","<?php echo $_product->getId().$random;?>");return false;' class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><span id='ajax_wishlist_loading<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><span id='ajax_loading<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span></a></li>
								<?php endif; ?>
							</ul>
						<?php }else{?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?></a></li>
								<?php endif; ?>
								</ul>
						<?php } ?>
					<?php endif; ?>
				</div>
			</div>
		</li>
	<?php if (++$i == $_collectionSize ) break; endforeach; ?>
</ol>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
<?php if ($_addToCart) { ?>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('.ajax-fancybox-list-small').fancybox(
				{
				   hideOnContentClick : true,
				   width:600,
				   autoDimensions: true,
				   type : 'iframe',
				   showTitle: false,
				   scrolling: 'no',
				   onComplete: function(){
					jQuery('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
						jQuery('#fancybox-content').height(jQuery(this).contents().find('body').height()+30);
						jQuery.fancybox.resize();
					 });

				   }
				}
			);
		});
		function showOptions(id){
			jQuery('#fancybox'+id).trigger('click');
		}
		function setAjaxData(data,iframe){
			if(data.status == 'ERROR'){
				alert(data.message);
			}else{
				if(jQuery('.top-cart')){
					jQuery('.top-cart').replaceWith(data.sidebar);
				}
				jQuery.fancybox.close();
				jQuery('body').append('<div class="add-to-cart-success">' + data.message +' <br /><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><?php echo $this->__('Go to Shopping Cart') ?></a><a href="#" class="btn-remove"><i class="fa fa-times"></i></a></div>');
				setTimeout(function () {jQuery('.add-to-cart-success').slideUp(500)}, 5000);
				jQuery('.add-to-cart-success a.btn-remove').click(function(){
					jQuery(this).parent().slideUp(500);
					return false;
				});
			}
		}
		function setLocationAjax(url,id){
			url += 'isAjax/1';
			url = url.replace("checkout/cart","ajax/index");
			jQuery('#ajax_loader'+id).show();
			try {
				jQuery.ajax( {
					url : url,
					dataType : 'json',
					success : function(data) {
						jQuery('#ajax_loader'+id).hide();
						setAjaxData(data,false);
					}
				});
			} catch (e) {
			}
		}
	</script>
<?php } ?>