<?php
    $_productCollection = $this->getMyCollection();
    $category = $this->catName();
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $this->getProductsAmount();
    $_columnCount = 4; //$this->getColumnCount();
	$_addToCart = $this->getAddToCart('add_to_cart_grid');
	$_price = $this->getProductPrice('price_grid');
	$_productName = $this->getProductName('product_name_grid');
	$_quickView = $this->getQuickView('quickview_grid');
	$wishlist = $this->getWishlist('wishlist_grid');
	$moreviews = $this->getMoreViews('more_views_grid');
	$compareproducts = $this->getCompareProducts('compare_grid');
	$ratingStars = $this->getRatingStars('rating_stars_grid');
	$ratingCustomerLink = $this->getRatingCustLink('rating_cust_link_grid');
	$ratingReviewLink = $this->getRatingAddReviewLink('rating_add_review_link_grid');
	$productsPerRow = $this->getProductsPerRow();
    $random = rand(5,1500);
	$randId = $this->getWidgetId();
    $meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
	
	$timerStatus = $meigee_bizarre_general['price_countdown']['status'];
	$widgetTimer = $this->getProductTimer('timer_grid');
	$timerTitle = $meigee_bizarre_general['price_countdown']['timer_listing_title'];
	$timerTitleText = $meigee_bizarre_general['price_countdown']['timer_listing_title_text'];
	$timerFormat = $meigee_bizarre_general['price_countdown']['timer_listing_format'];
	$timerDisplay = $meigee_bizarre_general['price_countdown']['timer_listing_display'];
	
	$fancybox = $meigee_bizarre_general['fancybox'];
    $helpImg = $this->helper('ThemeOptionsBizarre/images');
	$labelsoptions = $meigee_bizarre_general['productlabels'];
	$productOnlyXleft = $meigee_bizarre_general['productlabels']['labelonlyxleft'];
	$labelsType = $meigee_bizarre_general['productlabels']['labelview'];
	$labelsPosition = $meigee_bizarre_general['productlabels']['labelsposition'];
	switch ($productsPerRow) {
		case 2:
			$productsPerRow = 'two-products';
			$imgSize = 814;
		break;
		case 3:
			$productsPerRow = 'three-products';
			$imgSize = 543;
		break;
		case 4:
			$productsPerRow = 'four-products';
			$imgSize = 424;
		break;
		case 5:
			$productsPerRow = 'five-products';
			$imgSize = 325;
		break;
		case 6:
			$productsPerRow = 'six-products';
			$imgSize = 271;
		break;
		case 7:
			$productsPerRow = 'seven-products';
			$imgSize = 233;
		break;
		case 8:
			$productsPerRow = 'eight-products';
			$imgSize = 203;
		break;
	}
	
	/* HTTP(s) */
	if (Mage::app()->getStore()->isCurrentlySecure()){
		$http = array('http:', 'https:');
	}else{
		$http = array('https:', 'http:');
	}
?>
<?php // Grid Mode ?>
<div class="home-container grid">
    <div class="meigee-widget">
        <ul class="products-grid<?php echo ' '.$labelsType.' '.$labelsPosition. ' ' . $productsPerRow; ?> widget-grid">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
			<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
            <li class="item<?php if($labelsoptions['labelsorder'] == 'new_sale'):?> labels-new-sale<?php endif; ?>">
                <div class="product-container">
					<div class="product-img-box">
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'new'); ?>
						<?php if($productOnlyXleft and MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product)): ?>
							<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product); ?>
						<?php else: ?>
							<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'sale'); ?>
						<?php endif; ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img <?php echo $helpImg->getImgSources($_product, 'small_image', $imgSize, null, null, 'with-mobile'); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Hover Image */ echo $helpImg->getHoverImage($_product, 'small_image', $imgSize, null); ?></a>
						<?php
							$productId = $_product->getId();
							$currProduct = Mage::getModel('catalog/product')->load($productId);
							if($moreviews && count($currProduct->getMediaGalleryImages()) > 1): ?>
								<div class="ajax-media-button-holder">
									<a href='<?php echo $this->getUrl('meigeeactions/moreviews/index',array('product'=>$_product->getId()));?>' class='ajax-media'><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('moreviews'); ?><?php echo $this->__('More views') ?></span></a>
								</div>
								<div class="ajax-media-overlay"><div class="loader"></div></div>
						<?php endif; ?>
						<?php  // Fancybox
						if ($fancybox['fancybox_status'] && $fancybox['fancybox_home'] == 1): ?>
								<a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('fancybox'); ?></a>
							<?php endif; 
						// End Fancybox ?>
					</div>
					<div class="product-info <?php if (!$_addToCart) { echo 'no-add-to-cart'; }?>">
						<?php if($_productName): ?>
							<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
						<?php endif; ?>
						<?php $storeId = Mage::app()->getStore()->getId();
							$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
							if ($summaryData['rating_summary']): ?>
							<?php if ($ratingCustomerLink || $ratingReviewLink || $ratingStars) : ?>
								<div class="ratings">
									<?php if ($ratingStars) : ?>
										<div class="rating-box">
											<div class="rating" style="width: <?php echo $summaryData['rating_summary']; ?>%"></div> 
										</div>
									<?php endif; 
										if($ratingCustomerLink || $ratingReviewLink){
									?>
									<p class="rating-links">
										<?php if ($ratingCustomerLink) : ?>
											<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('%d Review(s)', $summaryData['reviews_count']) ?></a>
										<?php endif; ?>
										<?php if ($ratingCustomerLink && $ratingReviewLink) : ?>
											<span class="separator">|</span>
										<?php endif; ?>
										<?php if ($ratingReviewLink) : ?>
											<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('Add Your Review') ?></a>
										<?php endif; ?>
									</p>
									<?php } ?>
								</div>
							<?php endif; ?>
						<?php endif; ?>
						<?php if($_price): ?>
							<?php echo str_replace('itemprop="price"', '', $this->getPriceHtml($_product, true)); ?>
						<?php endif; ?>
					</div>
					<?php if($_product->isSaleable() and $_addToCart): ?>
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) ): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo str_replace($http[0], $http[1], $this->getAddToCartUrl($_product)); ?>','<?php echo $_product->getId().$random; ?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button>
									<span id='ajax_loader<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span>
								</div>
							<?php else: ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="showOptions('<?php echo $_product->getId()?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button>
									<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-grid' id='fancybox<?php echo $_product->getId()?>' style='display:none'>&nbsp;</a>
								</div>
							<?php endif; ?>
						<?php }else{ ?>
							 <div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="fa fa-shopping-cart"></i></span></span></button></div>
						<?php } ?>
					<?php endif; ?>
					<div class="clear"></div>
					<?php if ($_quickView || $wishlist || $compareproducts) { ?>
						<div class="product-buttons">
							<?php if(Mage::getStoreConfig('ajax/general/enabledpro') and $_quickView){ ?>
								<button type="button" title="<?php echo $this->__('Quick View') ?>" class="button btn-quick-view" onclick="showOptions('<?php echo $_product->getId().$randId?>')"><span><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('quickview'); ?><?php echo $this->__('Quick View') ?></span></span></button>
								<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-grid' id='fancybox<?php echo $_product->getId().$randId?>' style='display:none'>&nbsp;</a>
							<?php } ?>
							<?php if(Mage::getStoreConfig('ajax/wishlistcompare/enabledpro')){?>
								<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
										<li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo str_replace($http[0], $http[1], $this->helper('wishlist')->getAddUrl($_product)); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><span id='ajax_wishlist_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
										<li><a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><span id='ajax_loading<?php echo $_product->getId().$random;?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt=""/></span></a></li>
									<?php endif; ?>
								</ul>
							<?php }else{?>
								<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
										<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?></a></li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
										<li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?></a></li>
									<?php endif; ?>
									</ul>
							<?php } ?>
							<?php 
								if($timerStatus && $widgetTimer) {
									$specialprice = $_product->getSpecialPrice(); 
									$specialPriceFromDate = $_product->getSpecialFromDate();
									$specialPriceToDate = $_product->getSpecialToDate();
									$today =  time();
									if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
										if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
								?>
											<div class="clear"></div>
											<div class="timer-<?php echo $_product->getId().$random; ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>">
												<?php if($timerTitle): ?>
													<div class="title"><?php echo $timerTitleText; ?></div> 
												<?php endif; ?>
												<?php if ($timerFormat == 0) { ?>
													<div class="days"><span>00</span></div>
													<div class="hours"><span>00</span></div>
													<div class="minutes"><span>00</span></div>
													<div class="seconds"><span>00</span></div>
												<?php } elseif ($timerFormat == 1) { ?>
													<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
													<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
													<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
													<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
												<?php } ?>
											</div>
											<script type="text/javascript">
												endDate = new Date("<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>");
												startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>"));
												dateDiff = new Date((endDate)-(startDate));
												secondsDiff = Math.floor(dateDiff.valueOf()/1000);
												new productTimer.init(secondsDiff, <?php echo $_product->getId().$random; ?>);
											</script>
								<?php 
										endif;
									endif;
								}
							?>
						</div>
					<?php } ?>
				</div>
            </li>
        <?php if ($i+1 == $_collectionSize ) break; $i++; endforeach ?>        
        </ul> 
    </div>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('.ajax-fancybox-grid').fancybox(
				{
				   hideOnContentClick : true,
				   width:600,
				   autoDimensions: true,
				   type : 'iframe',
				   showTitle: false,
				   scrolling: 'no',
				   afterLoad: function(){
						setTimeout(function(){
							var frameBodyHeight = jQuery('.fancybox-iframe').contents().find('body').height();
							if(jQuery(window).height() > frameBodyHeight+30){
								jQuery('.fancybox-inner').css('height', frameBodyHeight);
							}
						}, 1000);
					}
				}
			);
			<?php if($moreviews): ?>
				/* ajax more views */
				ajaxMoreViews();
			<?php endif; ?>
		});
		function showOptions(id){
			jQuery('#fancybox'+id).trigger('click');
		}
		function setAjaxData(data,iframe){
			if(data.status == 'ERROR'){
				alert(data.message);
			}else{
				if(jQuery('.top-cart')){
					jQuery('.top-cart').replaceWith(data.sidebar);
				}
				jQuery.fancybox.close();
				jQuery('body').append('<div class="add-to-cart-success">' + data.message +' <br /><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><?php echo $this->__('Go to Shopping Cart') ?></a><a href="#" class="btn-remove"><i class="fa fa-times"></i></a></div>');
				setTimeout(function () {jQuery('.add-to-cart-success').slideUp(500)}, 5000);
				jQuery('.add-to-cart-success a.btn-remove').click(function(){
					jQuery(this).parent().slideUp(500);
					return false;
				});
			}
		}
		function setLocationAjax(url,id){
			url += 'isAjax/1';
			url = url.replace("checkout/cart","ajax/index");
			jQuery('#ajax_loader'+id).show();
			try {
				jQuery.ajax( {
					url : url,
					dataType : 'json',
					success : function(data) {
						jQuery('#ajax_loader'+id).hide();
						setAjaxData(data,false);
					}
				});
			} catch (e) {
			}
		}
	</script>
</div>