<?php
    $_productCollection = $this->getMyCollection();
    $category = $this->catName();
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $this->getProductsAmount();
	$_addToCart = $this->getAddToCart('add_to_cart_list');
	$_price = $this->getProductPrice('price_list');
	$_productName = $this->getProductName('product_name_list');
	$_quickView = $this->getQuickView('quickview_list');
	$columnsRatio = $this->getColumnsRatio();
	$wishlist = $this->getWishlist('wishlist_list');
	$compareproducts = $this->getCompareProducts('compare_list');
	$moreviews = $this->getMoreViews('more_views_list');
	$ratingStars = $this->getRatingStars('rating_stars_list');
	$ratingCustomerLink = $this->getRatingCustLink('rating_cust_link_list');
	$ratingReviewLink = $this->getRatingAddReviewLink('rating_add_review_link_list');
    $random = rand(5, 1500);
	$randId = $this->getWidgetId();
    $meigee_bizarre_general = MAGE::helper('ThemeOptionsBizarre')->getThemeOptionsBizarre('meigee_bizarre_general');
	
	$timerStatus = $meigee_bizarre_general['price_countdown']['status'];
	$widgetTimer = $this->getProductTimer('timer_list');
	$timerTitle = $meigee_bizarre_general['price_countdown']['timer_listing_title'];
	$timerTitleText = $meigee_bizarre_general['price_countdown']['timer_listing_title_text'];
	$timerFormat = $meigee_bizarre_general['price_countdown']['timer_listing_format'];
	$timerDisplay = $meigee_bizarre_general['price_countdown']['timer_listing_display'];
	
	$fancybox = $meigee_bizarre_general['fancybox'];
    $helpImg = $this->helper('ThemeOptionsBizarre/images');
	$labelsoptions = $meigee_bizarre_general['productlabels'];
	$productOnlyXleft = $meigee_bizarre_general['productlabels']['labelonlyxleft'];
	$labelsType = $meigee_bizarre_general['productlabels']['labelview'];
	$labelsPosition = $meigee_bizarre_general['productlabels']['labelsposition'];
	
	switch ($columnsRatio) {
		case 1:
			$imgColumn = 'twenty';
			$descriptionColumn = 'eighty';
		break;
		case 2:
			$imgColumn = 'twenty-five';
			$descriptionColumn = 'seventy-five';
		break;
		case 3:
			$imgColumn = 'thirty';
			$descriptionColumn = 'seventy';
		break;
		case 4:
			$imgColumn = 'thirty-five';
			$descriptionColumn = 'sixty-five';
		break;
		case 5:
			$imgColumn = 'forty';
			$descriptionColumn = 'sixty';
		break;
		case 6:
			$imgColumn = 'forty-five';
			$descriptionColumn = 'fifty-five';
		break;
		case 7:
			$imgColumn = 'fifty';
			$descriptionColumn = 'fifty';
		break;
	}
	
	/* HTTP(s) */
	if (Mage::app()->getStore()->isCurrentlySecure()){
		$http = array('http:', 'https:');
	}else{
		$http = array('https:', 'http:');
	}
?>

<?php // List Mode ?>
<ol class="products-list<?php echo ' '.$labelsType.' '.$labelsPosition; ?> meigee-widget" id="products-list">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
		<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
        <li class="item<?php $_iterator=0; if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?><?php if($labelsoptions['labelsorder'] == 'new_sale'):?> labels-new-sale<?php endif; ?>">
            <?php // Product Image ?>
            <div class="image-wrapper <?php echo $imgColumn; ?>">
                <div class="product-img-box">
					<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'new'); ?>
					<?php if($productOnlyXleft and MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product)): ?>
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductOnlyXleft($_product); ?>
					<?php else: ?>
						<?php echo MAGE::helper('ThemeOptionsBizarre')->getProductLabels($_product, 'sale'); ?>
					<?php endif; ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img <?php echo $helpImg->getImgSources($_product, 'small_image', 420, null, null, 'with-mobile'); ?> alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /><?php /* Hover Image */ echo $helpImg->getHoverImage($_product, 'small_image', 420, null, null, 'with-mobile'); ?></a>
					<?php
						$productId = $_product->getId();
						$currProduct = Mage::getModel('catalog/product')->load($productId);
						if($moreviews && count($currProduct->getMediaGalleryImages()) > 1): ?>
						<div class="ajax-media-button-holder">
							<a href='<?php echo $this->getUrl('meigeeactions/moreviews/index',array('product'=>$_product->getId()));?>' class='ajax-media'><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('moreviews'); ?><?php echo $this->__('More views') ?></span></a>
						</div>
						<div class="ajax-media-overlay"><div class="loader"></div></div>
					<?php endif; ?>
                    <?php // Fancybox
                    if ($fancybox['fancybox_status'] && $fancybox['fancybox_home'] == 1): ?>
                        <a class="fancybox category-gallery" title="<?php echo $_productNameStripped; ?>" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('fancybox'); ?></a>
                    <?php endif; // End Fancybox ?>
                </div>
            </div>
            <?php // Product description ?>
            <div class="description-wrapper <?php echo $descriptionColumn; ?>">
				<div class="product-shop">
					<?php if($_productName): ?>
						<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
					<?php endif; ?>
					<?php 
						if($timerStatus && $widgetTimer) {
							$specialprice = $_product->getSpecialPrice(); 
							$specialPriceFromDate = $_product->getSpecialFromDate();
							$specialPriceToDate = $_product->getSpecialToDate();
							$today =  time();
							if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
								if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
						?>
									<div class="clear"></div>
									<div class="timer-<?php echo $_product->getId().$random; ?> timer-box<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>">
										<?php if($timerTitle): ?>
											<div class="title"><?php echo $timerTitleText; ?></div> 
										<?php endif; ?>
										<?php if ($timerFormat == 0) { ?>
											<div class="days"><span>00</span></div>
											<div class="hours"><span>00</span></div>
											<div class="minutes"><span>00</span></div>
											<div class="seconds"><span>00</span></div>
										<?php } elseif ($timerFormat == 1) { ?>
											<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
											<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
											<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
											<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
										<?php } ?>
									</div>
									<script type="text/javascript">
										endDate = new Date("<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>");
										startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>"));
										dateDiff = new Date((endDate)-(startDate));
										secondsDiff = Math.floor(dateDiff.valueOf()/1000);
										new productTimer.init(secondsDiff, <?php echo $_product->getId().$random; ?>);
									</script>
						<?php 
								endif;
							endif;
						}
					?>
					<?php $storeId = Mage::app()->getStore()->getId();
						$summaryData = Mage::getModel('review/review_summary')->setStoreId($storeId)->load($_product->getId());
						if ($summaryData['rating_summary']): ?>
						<?php if ($ratingCustomerLink || $ratingReviewLink || $ratingStars) : ?>
							<div class="ratings">
								<?php if ($ratingStars) : ?>
									<div class="rating-box">
										<div class="rating" style="width: <?php echo $summaryData['rating_summary']; ?>%"></div> 
									</div>
								<?php endif; ?>
								<p class="rating-links">
									<?php if ($ratingCustomerLink) : ?>
										<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('%d Review(s)', $summaryData['reviews_count']) ?></a>
									<?php endif; ?>
									<?php if ($ratingCustomerLink && $ratingReviewLink) : ?>
										<span class="separator">|</span>
									<?php endif; ?>
									<?php if ($ratingReviewLink) : ?>
										<a href="<?php echo $_product->getProductUrl() ?>#review-point"><?php echo $this->__('Add Your Review') ?></a>
									<?php endif; ?>
								</p>
							</div>
						<?php endif; ?>
					<?php endif; ?>
					<?php if(!$_product->isSaleable()): ?>
						<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					<?php endif; ?>
					<?php if($_price): ?>
						<?php echo str_replace('itemprop="price"', '', $this->getPriceHtml($_product, true)); ?>
					<?php endif; ?>
					<div class="desc std">
						<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
					</div>
					<?php if($_product->isSaleable() and $_addToCart): ?>
						<?php if(Mage::getStoreConfig('ajax/general/enabledpro')){ ?>
							<?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped() || $_product->isConfigurable()) ): ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo str_replace($http[0], $http[1], $this->getAddToCartUrl($_product)); ?>','<?php echo $_product->getId().$random; ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<span id='ajax_loader<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span>
								</div>
							<?php else: ?>
								<div class="button-holder">
									<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="showOptions('<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-list' id='fancybox<?php echo $_product->getId()?>' style='display:none'>&nbsp;</a>
								</div>
							<?php endif; ?>
						<?php }else{ ?>
							 <div class="button-holder"><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></div>
						<?php } ?>
					<?php endif; ?>
					<?php if(Mage::getStoreConfig('ajax/general/enabledpro') and $_quickView){ ?>
						<button type="button" title="<?php echo $this->__('Quick View') ?>" class="button btn-quick-view" onclick="showOptions('<?php echo $_product->getId().$randId; ?>')"><span><span><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('quickview'); ?><?php echo $this->__('Quick View') ?></span></span></button>
						<a href='<?php echo str_replace($http[0], $http[1], $this->getUrl('ajax/index/options',array('product_id'=>$_product->getId())));?>' class='ajax-fancybox-list' id='fancybox<?php echo $_product->getId().$randId; ?>' style='display:none'>&nbsp;</a>
					<?php } ?>
					<?php if ($wishlist || $compareproducts) : ?>
						<?php if(Mage::getStoreConfig('ajax/wishlistcompare/enabledpro')){?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="#" title="<?php echo $this->__('Add to Wishlist') ?>" onclick='ajaxWishlist("<?php echo str_replace($http[0], $http[1], $this->helper('wishlist')->getAddUrl($_product)); ?>","<?php echo $_product->getId().$random;?>");return false;' class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?><span id='ajax_wishlist_loading<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="#" title="<?php echo $this->__('Add to Compare') ?>" onclick='ajaxCompare("<?php echo str_replace($http[0], $http[1], $_compareUrl); ?>","<?php echo $_product->getId().$random; ?>");return false;' class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?><span id='ajax_loading<?php echo $_product->getId().$random; ?>' class="ajax-loader-item" style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>' alt="" /></span></a></li>
								<?php endif; ?>
							</ul>
						<?php }else{?>
							<ul class="add-to-links">
								<?php if ($this->helper('wishlist')->isAllow() and $wishlist) : ?>
									<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('wishlist'); ?></a></li>
								<?php endif; ?>
								<?php if($_compareUrl=$this->getAddToCompareUrl($_product) and $compareproducts): ?>
									<li><a href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>" class="link-compare"><?php echo MAGE::helper('ThemeOptionsBizarre')->getIcon('compare'); ?></a></li>
								<?php endif; ?>
								</ul>
						<?php } ?>
					<?php endif; ?>
				</div>
            </div>
        </li>
    <?php if (++$i == $_collectionSize ) break; endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('.ajax-fancybox-list').fancybox(
				{
				   hideOnContentClick : true,
				   width:600,
				   autoDimensions: true,
				   type : 'iframe',
				   showTitle: false,
				   scrolling: 'no',
				   onComplete: function(){
					jQuery('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
						jQuery('#fancybox-content').height(jQuery(this).contents().find('body').height()+30);
						jQuery.fancybox.resize();
					 });

				   }
				}
			);
			<?php if($moreviews): ?>
				/* ajax more views */
				ajaxMoreViews();
			<?php endif; ?>
		});
		function showOptions(id){
			jQuery('#fancybox'+id).trigger('click');
		}
		function setAjaxData(data,iframe){
			if(data.status == 'ERROR'){
				alert(data.message);
			}else{
				if(jQuery('.top-cart')){
					jQuery('.top-cart').replaceWith(data.sidebar);
				}
				jQuery.fancybox.close();
				jQuery('body').append('<div class="add-to-cart-success">' + data.message +' <br /><a href="<?php echo $this->getUrl('checkout/cart'); ?>"><?php echo $this->__('Go to Shopping Cart') ?></a><a href="#" class="btn-remove"><i class="fa fa-times"></i></a></div>');
				setTimeout(function () {jQuery('.add-to-cart-success').slideUp(500)}, 5000);
				jQuery('.add-to-cart-success a.btn-remove').click(function(){
					jQuery(this).parent().slideUp(500);
					return false;
				});
			}
		}
		function setLocationAjax(url,id){
			url += 'isAjax/1';
			url = url.replace("checkout/cart","ajax/index");
			jQuery('#ajax_loader'+id).show();
			try {
				jQuery.ajax( {
					url : url,
					dataType : 'json',
					success : function(data) {
						jQuery('#ajax_loader'+id).hide();
						setAjaxData(data,false);
					}
				});
			} catch (e) {
			}
		}
	</script>