<script>

function buildReport()
{
	if (document.getElementById('affichage_web').value == 1)
	{
		var url = '<?php echo Mage::getUrl('ProfitReport/Admin/Report', array()); ?>';
		var updater = new Ajax.Updater('div_result', 
										url, 
										{
											method: 'POST',
											parameters : Form.serialize("main_form")
										});
	}
	else
		document.getElementById('main_form').submit();
}

</script>

<style>

.rapport_header
{
	font-weight:bold;
	background-color:#bbbbbb;
}

.rapport_axe
{
	font-weight:bold;
	background-color:#dddddd;
}

.rapport_subaxe
{
	background-color:#ffffff;
}

.rapport_total
{
	font-weight:bold;
	background-color:cornflowerblue;
}

</style>



<div class="entry-edit">

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Profit Report')?></h3></td>
			<td align="right">
				<button type="button" class="scalable" onclick="document.getElementById('affichage_web').value=1;buildReport();" style=""><span><?php echo $this->__('Display report'); ?></span></button>
				<button type="button" class="scalable" onclick="document.getElementById('affichage_web').value=0;buildReport();" style=""><span><?php echo $this->__('Download report'); ?></span></button>
			</td>
        </tr>
    </table>
</div>

	  <div class="entry-edit-head">
		   <h4 class="icon-head head-account"><?php echo $this->__('Report settings'); ?></h4>

    </div>
	<div class="fieldset">
		<form id="main_form" name="main_form" method="POST" enctype="multipart/form-data" action="<?php echo Mage::getUrl('ProfitReport/Admin/Report', array()); ?>">
		<input type="hidden" id="format_html" name="format_html" value="0">
		<input type="hidden" id="affichage_web" name="affichage_web" value="0">
		<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
		<table border="0" style="margin-left: 30px;">
		<tr>
			<th width="200" align="center"><?php echo $this->__('From'); ?> : </th>
			<td>
				<input type="text" name="date_debut" id="date_debut" size="8" value="<?php echo date('Y-m-1'); ?>">
				<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif'); ?>" class="v-middle" id="img_calendar_debut" />
				<script type="text/javascript">
					Calendar.setup({
						inputField : 'date_debut',
						ifFormat : '%Y-%m-%e',
						button : 'img_calendar_debut',
						align : 'Bl',
						singleClick : true
					});
				</script>	
			</td>
		</tr>
		<tr>
			<th width="200" align="center"><?php echo $this->__('To'); ?> : </th>
			<td>
				<input type="text" name="date_fin" id="date_fin" size="8" value="<?php echo date('Y-m-d'); ?>">
				<img src="<?php echo $this->getSkinUrl('images/grid-cal.gif'); ?>" class="v-middle" id="img_calendar_fin" />
				<script type="text/javascript">
					Calendar.setup({
						inputField : 'date_fin',
						ifFormat : '%Y-%m-%e',
						button : 'img_calendar_fin',
						align : 'Bl',
						singleClick : true
					});
				</script>	
			</td>
		</tr>
		<tr>
			<th width="200" align="center"><?php echo $this->__('Axe'); ?> : </th>
			<td>
				<select name="axe" id="axe">
					<?php foreach(mage::helper('ProfitReport/Custom')->getHelpers() as $helper): ?>
						<option value="<?php echo $helper; ?>"><?php echo $this->__($helper); ?></option>
					<?php endforeach; ?>
				</select>
			</td>
		</tr>
		<tr>
			<th width="200" align="center"><?php echo $this->__('Sku details'); ?> : </th>
			<td>
				<select name="inclure_sku" id="inclure_sku">
					<option value="0"><?php echo $this->__('No'); ?></option>
					<option value="1"><?php echo $this->__('yes'); ?></option>
				</select>
			</td>
		</tr>
		</table>
		</form>
	</div>
</div>

<div class="entry-edit">
	<div class="entry-edit-head">
		   <h4 class="icon-head head-account"><?php echo $this->__('Preview'); ?></h4>
	</div>
	<div class="fieldset" name="div_result" id="div_result">
	
	</div>
</div>