/* Global Styles ============= */


body {

}
/* Header Navigation */
.nav-container a.level-top > span {
    font-family: Verdana, sans-serif;
    letter-spacing: normal;
}
.nav-wide .menu-wrapper.default-menu ul.level0 li.level1 a span{

		font-family: Verdana, sans-serif;
	}
/*Home banners Valerij===============*/

.text-banner .text-banner-content {position: absolute; top: 20%; left: 12%; width: 50%; cursor: pointer;}

.text-banner .text-banner-content.skin-2 {left: 20%; right: 0; width: 60%; text-align: center; top: 20%;}

.text-banner .text-banner-content.skin-3 {left: 10%; right: 0; width: 80%; text-align: center; top: 18%;}
.text-banner .text-banner-content.skin-3 h2 {text-transform: none; margin-left: auto; margin-right: auto;}

/*Styles for awesome fonts Valerij=======*/
.fa-question-circle{
    font-size: 1.7em;
    margin: 0 3px 0 0;
    line-height: none;
}
.fa-download,.fa-book,.fa-file-text,.fa-youtube-play,.fa-info,.fa-info-circle{
    font-size: 1.2em;
    margin: 0 5px 0 0;
    line-height: 1.2em;
}
.fa-credit-card, .fa-undo, .fa-cart-arrow-down, .fa-key, .fa-shopping-basket, .fa-truck{
    font-size: 6em;
    margin-bottom: 10px;
}


/*Styles for product page Vasylij =====*/
.product-options {
    background-color: #f6f6f6;
    border: 1px solid #e4e4e4;
    padding: 10px 15px 20px;
    position: relative;
	margin-top: 15px;
}
.product-options dt {
    font-weight: normal;
    padding: 10px 0 10px 0;
}
.product-options dt label.required em {
    color: #eb340a;
    margin-left: 5px;
}
.product-options ul.options-list {
    margin-right: 5px;
}
.product-options ul.options-list li {
    line-height: 1.5;
    padding: 2px 0;
}
.product-options ul.options-list .show-as-image input.radio {
    float: none;
}
.product-options ul.options-list .show-as-image .label {
    margin-left: 0;
}
.product-options dd .qty-holder {
    display: none;
    padding: 10px 0 0;
}
.options-list .single-option .label {
    margin-left: 0;
}
.product-options .options-list input.radio {
    margin: 0;
}

.parameters {
    margin: 15px 0;
}
.parameters > img {
    float: left;
    border: 1px solid #C4C6C8;
    margin: 6px 11px 0 0;
    padding: 2px;
}

.parameters-desc img {
    max-width: 150px;
    width: 150px;
    height: 150px;
    /*padding: 5px;*/
}

.show-desc, .hide-desc {
    color: #888;
    font: 0.9em/1.25 Arial,Helvetica,sans-serif;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}
.show-desc{
    margin-left: 10px;
}
.hide-desc {
    margin-top: 5px;
}

.show-desc:hover, .hide-desc:hover {
    color: #da2c2a;
    text-decoration: none;
}
/*
.show-desc sup {
    background: none repeat scroll 0 0 #777777;
    border-radius: 100%;
    color: #ffffff;
    content: "i";
    display: inline-block;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    margin-right: 3px;
    text-align: center;
    width: 12px;
}
*/
.desc {
    padding: 5px;
}

.show-as-image {
    display: inline-block;
    margin-right: 7px;
    text-align: center;
}

.product-view .productpage_large .product-options dl, .product-view .productpage_extralarge .product-options dl {
    width: 100%;
}
.show-as-image .price-notice {
    display: none;
}
.bundle-description .image img {
    width: 100px;
    max-width: 150px;
    height: 100px;
}
.bundle-option-image {
    margin-bottom: 5px;
}

.sp-methods dt {
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 1.0em;
}
/*Styles for product page Valerij =====*/
.meigee-tabs-content{

}
.product-custom{
    border-bottom: 1px solid #ddd;
}
.product-options table, .product-options th, .product-options td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px;
    margin-bottom: 10px;
}
.product-options dt label {
    letter-spacing: 0;
    text-transform: none;
    font-size: 1em;
}
.show-more-options{
    color: #da2c2a;
    cursor: pointer;
}
.show-more-options:hover{
    color: #222222;
}
.parameters h2{
    color: #222;
    font-family: Georgia;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline;
}
.parameters table,.parameters td{
    border: 1px solid #ddd;
}
.parameters table{
    margin-top: 10px;
}
.parameters td{
    padding: 10px;
}

.product-collateral table, .product-collateral th, .product-collateral td{
    border: 1px solid #ddd;
}
.product-collateral th, .product-collateral td{
    padding: 10px;
}
/*Styles for CMS pages kedziu reguliavimai=====*/
.chair-block-wrapper{
    border: 1px solid #ddd;
    overflow: hidden;
}
.chair-block{
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}
.chair-block-border-bottom{
    border-bottom: 1px solid #ddd;
}
.chair-block-margin{
    margin: 5px 0;
}
.chair-block-margin-alfa{
    margin: 13px 0 5px 0;
}
.chair-block-margin-omega{
    margin: 5px 0 0 0;
}

.chair-block-omega{
    border: none;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}
.chair-block-header{
    border-bottom: 1px solid #ddd;;
    padding: 10px;
    overflow: hidden;
}
.chair-block-header-1{
    border-bottom: 1px solid #ddd;;
    padding: 20px 20px 10px 20px;
    overflow: hidden;
}

.chair-block-header-1 p.text-transform-upper{
    text-transform: uppercase;
    font-style: italic;
    color: #DA2C2A;
    margin-bottom: 0.5em;
}
.chair-block-caption{
    border-bottom: 1px solid #ddd;;
    text-align: center;
    padding: 10px;
    font-size: 120%;
}

.chair-block-caption p{
    margin: 0;
}
.chair-block ol{
    list-style-type: decimal;
    list-style-position: inside;
}
.chair-block ol li{
    position: relative;
    margin-bottom: 10px;
}
.image-wrapper-float-left{
    float: left;
    border: 1px solid #ddd;
    margin: 0px 10px 10px 0px;
    position: relative;
    background-color: #E2E7E2;
}
.image-wrapper-number{
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: bold;
}
.image-wrapper-float-right{
    float: right;
    border: 1px solid #ddd;
    margin: 0px 0px 10px 10px;
    background: #fff;
}
.image-wrapper-float-right-1{
    float: right;
    border: 1px solid #ddd;
    margin: 10px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(221,221,221,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(221,221,221,1);
    box-shadow: 6px 6px 5px 0px rgba(221,221,221,1);
}
ul.list-style-none{
    list-style-type: none;
}
ul.list-style-1{
    list-style-type: circle;
}
ul.list-style-1 li{
    margin-bottom: 10px;
}
.table-style-1 table, .table-style-1 td,.table-style-1 th{
    border: 1px solid;
}
.table-style-1 td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.table-style-1 th {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}
.table-style-1 table{
    margin-bottom: 10px;
}

/* Changes made by Erikas */
#login-holder{
	opacity: 0;
	filter: alpha(opacity=50);
	position: absolute;
	z-index:99999;
	left: 50%;
	top: 0;
	margin-left: -179px;
	width: 360px;
	height: auto;
	background-color:#FFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	padding: 0 30px;
}
.footer-links li {position: static;}

/* Changes made by Stan*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (orientation: portrait) {
	.parameters-desc td {
		display: block;
	}
}
