<!--@subject  {{var order.getStoreGroupName()}}: Sąskaita Nr. {{var invoice.increment_id}} UžsakymasNr. {{var order.increment_id}} @-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
							                                
                        <strong>Sveiki {{htmlescape var=$order.getBillingAddress().getName()}}</strong>,
                           <p>Ačiū, kad perkate mūsų elektroninėje parduotuvėje: {{var order.getStoreGroupName()}}.</p>
                           
                           <p>Jūsų užsakymo Nr.{{var order.increment_id}}. Norime pranešti kad gavome Jūsų apmokėjimą ir pradedame vykdyti Jūsų užsakymą. Mes Jus papildomai informuosime, kuomet Jūsų užsakymas bus paruoštas. Jūsų patogumui prisegame suformuotą sąskaitą-faktūrą.
                            Savo užsakymo būseną galite pasitikrinti prisijungę prie savo paskyros: <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">prisijungimas prie paskyros</a>. 
                            Pateikdami užsakymą Jūs pasirinkote šį prekių pristatymo būdą:</p>
                            {{layout handle="sales_email_order_shipping_message" order=$order}}

                            <p>Žemiau yra pateiktos užsakymo detalės. Prašome pasitikrinti, ar teisingai užpildėte užsakymui įvykdyti reikalingą informaciją.</p>
                               
                            <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                                Jūsų sąskaitos Nr.{{var invoice.increment_id}},      Jūsų užsakymo Nr.{{var order.increment_id}}
                            </h3>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Pirkėjas:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mokėjimo būdas:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.billing_address.format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var payment_html}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{depend order.getIsNotVirtual()}}
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Prekės gavėjas:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Pristatymo būdas:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.shipping_address.format('html')}}
                                            &nbsp;
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.shipping_description}}
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{/depend}}
                            {{layout handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
                            <p><strong>Pardavėjo pastabos: </strong>{{var comment}}</p>
                            <p>Jei turite klausimų, susisiekite su mumis elektroniniu paštu: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>, arba telefonu: {{config path='general/store_information/phone'}}. Mūsų darbo laikas: Pirmadienį - Penktadienį 10:00 - 19:00. Šeštadienį 10:00 - 17:00. </p>
                            <p><strong>Mūsų įmonės duomenys: </strong>{{config path="general/store_information/address"}}</p>
                            <p>Ačiū, kad perkate pas mus,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>